<div class="col-sm-12 m-t-lg m-b-md padder-v" ng-style="publiccompany.cover ? {'background-image':'url({{ app.baseUrl}}{{publiccompany.cover}})','background-size':'cover','overflow':'hidden'} : ''">
    <div class="col-xs-6 col-sm-2">
        <div class="m-b-md bg-white">
            <img ng-show="publiccompany.avatar" src="{{app.baseUrl}}{{publiccompany.avatar}}" alt="{{publiccompany.name}}" class="w-full">
            <img ng-hide="publiccompany.avatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" alt="{{publiccompany.name}}" class="w-full">
        </div>
        <div ng-controller="FollowController">

            <button type="button" class="btn btn-block btn-primary no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:publiccompany.username).length <= 0 || !user.following || !publiccompany.followers" ng-click="follow(publiccompany.username)">Follow</button>
            <button type="button" class="btn btn-block btn-default no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:publiccompany.username).length > 0 && windowWidth >= 767" ng-click="unfollow(publiccompany.username)" ng-mouseenter="follow = false" ng-mouseleave="follow = true">
                <span ng-show="follow">Following</span>
                <span ng-hide="follow">Unfollow</span>
            </button>
            <button type="button" class="btn btn-sm btn-default no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:publiccompany.username).length > 0 && windowWidth < 767" ng-click="unfollow(publiccompany.username)">
                <span>Unfollow</span>
            </button>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-6">
        <div class="m-b-sm text-right text-center-xs">
            <span class="bg-black dk wrapper-xs padder-sm inline">
                <span class="font-bold text-xxl l-h-1x">{{ publiccompany.followers.length || 0  }}</span><br>
                <span class="font-thin text-lg">Followers</span>
            </span>
        </div>
        <div class="m-b-sm text-right text-center-xs">
            <span class="text-md text-block text-u-c bg-black dker wrapper-xs padder-sm inline">{{publiccompany.companyType| translate }}</span>
        </div>
        <div class="m-b-sm text-right hidden-xs" ng-if="publiccompany.companyType != 'Advertiser'">
            <span class="bg-black dker wrapper-xs padder-sm inline">
                <span class="text-base text-block" data-ng-repeat="subtype in publiccompany.companySubType">#{{subtype}} </span>
            </span>
        </div>
    </div>
</div>

