<style>
    .delete-badge{
        margin: -9px -7px 0px 0px;
        border-radius: 50%;
        color: gray;
    }
    .delete-badge:hover{
        color: black;
    }
    .image_wrapper{
        position: relative;
        zoom: 1;
        max-width: 7000px;
    }
    .screenshots{
        clear: both;
        position: relative;
        width: auto;
        min-height: 320px;
        max-height: 600px;
        margin: 15px 0px;
        padding: 16px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        background-color: #f7f8f9;
    }
</style>
<div class="w-full b-a r-2x m-t-lg bg-white-only" id="product">
    <div class="col-xs-12 padder-v padder-lg">
        <div class="" ng-if="!publicCompany.product.apps && !publicCompany.product.logo">
            <div class="text-xl text-black-dker font-normal text-gray">Product</div>
            <div class="text-md text-muted font-italic m-t-md">Product details isn't available.</div>
        </div>
        <div class="" ng-if="publicCompany.product.case && publicCompany.product.case == 'custom'">
            <div class="text-muted text-lg font-normal text-gray">{{ publicCompany.product.title}}</div>
            <div id="s_container" class="screenshots row">
                <div id="product_custom_lightbox" class="image_wrapper">
                    <div class="pull-left" ng-if="publicCompany.product.video.type == 'youtube'">
                        <iframe width="450px" height="284px" ng-src="{{ publicCompany.product.video.videoId | youtubeEmbedUrl}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="pull-left" ng-if="publicCompany.product.video.type == 'vimeo'">
                        <iframe width="450px" height="284px" ng-src="{{ publicCompany.product.video.videoId | vimeoEmbedUrl}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <a href="{{ app.baseUrl}}{{ image}}" ng-repeat="image in publicCompany.product.images track by $index">
                        <img id="s_img_{{ $index}}" class="h-lg padder lightbox" src="{{ app.baseUrl}}{{ image}}"/>
                    </a>
                    <script>
                        document.getElementById('product_custom_lightbox').onclick = function (event) {

                            event = event || window.event;
                            var target = event.target || event.srcElement,
                                    link = target.src ? target.parentNode : target,
                                    options = {index: link, event: event},
                            links = this.getElementsByTagName('a');
                            var serializer = new XMLSerializer();
                            var lightbox = serializer.serializeToString(target);
                            if (lightbox && lightbox.indexOf("img") > 0 && lightbox.indexOf("lightbox") > 0)
                                blueimp.Gallery(links, options);
                        };</script>
                </div>
            </div>
            <div class="screenshots_prev" ng-init="isVideo = publicCompany.product.video.videoId ? true : false">
                <img id="p_img_{{ $index}}" class="h-xxs padder b-a m-xs" src="{{ app.baseUrl}}{{ image}}" ng-repeat="image in publicCompany.product.images track by $index" ng-click="previewClick($index, 'product', isVideo)"/>
            </div>
            <div class="description padder-v-md">
                {{ publicCompany.product.description}}
            </div>
        </div>
        <div class="" ng-if="publicCompany.product.case && publicCompany.product.case == 'apps'">
            <div class="text-muted text-lg font-normal text-gray">
                {{ publicCompany.product.apps[0].name}} <span class="m-l-sm text-muted text-sm"> by {{ publicCompany.product.apps[0].artistName}}</span>
                <div class="pull-right pull-none-xs m-t-n-xs">
                    <span class="text-muted text-md text-gray">{{ publicCompany.product.apps[0].categories.length > 1 ? "Categories" : "Category" }}</span> 
                    <div class="r-3x padder-v-sm padder text-center label-green-light hover-pointer text-sm" ng-repeat="category in publicCompany.product.apps[0].categories track by $index">{{ category|capitalize}}</div>
                </div>
            </div>

            <div class="row m-t-md">
                <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-4 pull-none-xs" ng-class="{'m-b-sm':windowWidth < 756}">
                    <img src="{{publicCompany.product.apps[0].icon}}" class="r-2x b-a w-full padder-xs padder-v-sm"/>
                </div>
                <div class="col-sm-10" ng-init="splice = 300">
                    <span ng-bind-html="publicCompany.product.apps[0].description | subStr:0:splice:true | trustedHTML"></span>
                </div>
            </div>

            <div id="s_container" class="screenshots row">
                <div id="product_apps_lightbox" class="image_wrapper">
                    <div class="pull-left" ng-if="publicCompany.product.apps[0].video">
                        <iframe width="450px" height="284px" ng-src="{{ publicCompany.product.apps[0].video | trustedURL}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <a href="{{ image}}" ng-repeat="image in publicCompany.product.apps[0].screenshots track by $index">
                        <img id="s_img_{{ $index}}" class="h-lg padder lightbox" src="{{ image}}"/>
                    </a>
                    <script>
                        document.getElementById('product_apps_lightbox').onclick = function (event) {

                            event = event || window.event;
                            var target = event.target || event.srcElement,
                                    link = target.src ? target.parentNode : target,
                                    options = {index: link, event: event},
                            links = this.getElementsByTagName('a');
                            var serializer = new XMLSerializer();
                            var lightbox = serializer.serializeToString(target);
                            if (lightbox && lightbox.indexOf("img") > 0 && lightbox.indexOf("lightbox") > 0)
                                blueimp.Gallery(links, options);
                        };</script>
                </div>
            </div>
            <div class="screenshots_prev" ng-init="isVideo = publicCompany.product.apps[0].video ? true : false">
                <img id="p_img_{{ $index}}" class="h-xxs padder b-a m-xs" src="{{ image}}" ng-repeat="image in publicCompany.product.apps[0].screenshots track by $index" ng-click="previewClick($index, 'product', isVideo)"/>
            </div>

            <div class="get_app padder-v">
                <a href="{{publicCompany.product.apps[0].url}}" target="_blank" class="btn btn-blue-lt padder-v-sm">Get it</a> 
                <span class="text-sm text-gray m-l-sm" ng-if="publicCompany.product.apps[0].price > 0"> {{ publicCompany.product.apps[0].priceCurrency}} {{ publicCompany.product.apps[0].price}} on <span ng-if="publicCompany.product.apps[0].type == 'android'">Play Store</span><span ng-if="publicCompany.product.apps[0].type == 'iPhone'">App Store</span></span>
                <span class="text-sm text-gray m-l-sm" ng-if="publicCompany.product.apps[0].price <= 0">Free on <span ng-if="publicCompany.product.apps[0].type == 'android'">Play Store</span><span ng-if="publicCompany.product.apps[0].type == 'iPhone'">App Store</span></span>
            </div>

            <div class="apps m-t-sm" ng-if="publicCompany.product.apps.length > 1">
                <div class="text-lg text-muted font-bold">Other Apps</div>
                <div class="inline-block padder-t-sm padder-b-md" ng-class="{'b-b':!$last}" ng-repeat="app in publicCompany.product.apps.slice(1, publicCompany.product.apps.length)">
                    <div class="row">
                        <div class="padder padder-v-sm">
                            <span class="text-lg text-gray">{{ app.name}}</span> 
                            <span class="text-gray text-sm m-l-sm">by {{ app.artistName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-4 pull-none-xs" ng-class="{'m-b-sm':windowWidth < 756}">
                            <img src="{{app.icon}}" class="r-2x b-a w-full padder-xs padder-v-sm"/>
                        </div>
                        <div class="col-sm-8" ng-init="splice = 250">
                            <span ng-bind-html="app.description | subStr:0:splice:true | trustedHTML"></span>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-blue-lt inline" href="{{ app.url}}" target="_blank" ng-class="{'m-t-sm':windowWidth < 756}">Get it</a>
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                </div>
            </div>

        </div>
        <div class="" ng-if="publicCompany.product.case && publicCompany.product.case == 'customapp'">
            <div class="text-muted text-lg font-normal text-gray">{{ publicCompany.product.title}}</div>
            <div id="s_container" class="screenshots row">
                <div id="product_customapp_lightbox" class="image_wrapper">
                    <div class="pull-left" ng-if="publicCompany.product.video.type == 'youtube'">
                        <iframe width="450px" height="284px" ng-src="{{ publicCompany.product.video.videoId | youtubeEmbedUrl}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="pull-left" ng-if="publicCompany.product.video.type == 'vimeo'">
                        <iframe width="450px" height="284px" ng-src="{{ publicCompany.product.video.videoId | vimeoEmbedUrl}}" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <a href="{{ app.baseUrl}}{{ image}}" ng-repeat="image in publicCompany.product.images track by $index">
                        <img id="s_img_{{ $index}}" class="h-lg padder lightbox" src="{{ app.baseUrl}}{{ image}}"/>
                    </a>
                    <script>
                        document.getElementById('product_customapp_lightbox').onclick = function (event) {

                            event = event || window.event;
                            var target = event.target || event.srcElement,
                                    link = target.src ? target.parentNode : target,
                                    options = {index: link, event: event},
                            links = this.getElementsByTagName('a');
                            var serializer = new XMLSerializer();
                            var lightbox = serializer.serializeToString(target);
                            if (lightbox && lightbox.indexOf("img") > 0 && lightbox.indexOf("lightbox") > 0)
                                blueimp.Gallery(links, options);
                        };
                    </script>
                </div>
            </div>
            <div class="screenshots_prev" ng-init="isVideo = publicCompany.product.video.videoId ? true : false">
                <img id="p_img_{{ $index}}" class="h-xxs padder b-a m-xs" src="{{ app.baseUrl}}{{ image}}" ng-repeat="image in publicCompany.product.images track by $index" ng-click="previewClick($index, 'product', isVideo)"/>
            </div>
            <div class="description padder-v-md">
                {{ publicCompany.product.description}}
            </div>
            <div class="apps m-t-sm">
                <div class="text-lg text-muted font-bold">Apps</div>
                <div class="inline-block padder-t-sm padder-b-md" ng-class="{'b-b':!$last}" ng-repeat="app in publicCompany.product.apps">
                    <div class="row">
                        <div class="padder padder-v-sm">
                            <span class="text-lg text-gray">{{ app.name}}</span> 
                            <span class="text-gray text-sm m-l-sm">by {{ app.artistName}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-4 pull-none-xs" ng-class="{'m-b-sm':windowWidth < 756}">
                            <img src="{{app.icon}}" class="r-2x b-a w-full padder-xs padder-v-sm"/>
                        </div>
                        <div class="col-sm-8" ng-init="splice = 250">
                            <span ng-bind-html="app.description | subStr:0:splice:true | trustedHTML"></span>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-blue-lt inline" href="{{ app.url}}" target="_blank" ng-class="{'m-t-sm':windowWidth < 756}">Get it</a>
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear clearfix"></div>
</div>