<div ng-if="!user.companyPage" class="panel panel-default no-shadow" data-ng-controller="CompanyCreateFormController">
    <div class="panel-heading font-bold">Create your Company page</div>
    <div class="panel-body">
        <div class="text-center m-b">
            <img src="{{ app.baseUrl }}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" class="thumb avatar">
        </div>
        <form ng-submit="createCompanyPage()" name="createCompanyPageForm" class="form-validation form-horizontal">
            <input type="text" class="form-control" ng-pattern="/^[a-zA-Z-0-9 '.,-/\&]{2,100}$/" maxlength="100" ng-model="user.company" ng-trim="true" placeholder="Company name" required >
            <div class="m-t text-center">
                <button class="btn btn-blue-lt" type="submit" ng-disabled='createCompanyPageForm.$invalid || isAvailable == false'>
                    <span ng-hide="loadingCreatingPage">Create Company Page</span>
                    <span ng-show="loadingCreatingPage"><i class="fa fa-spin fa-circle-o-notch"></i>Creating company page</span>
                </button>
            </div>
        </form>
    </div>
</div>
