<div class="panel panel-default r-3x" ng-controller="EventController">
    <!--
            <div class="text-center pos-abt register-btn">
                <a href="http://panel.activemobile.com/advertiser/signup.php?p=signup" data-ng-click="track('ActiveMobile)" target="_blank" class="btn btn-default btn-block font-bold">Get More Info</a>
            </div>
           <img src="{{app.baseUrl}}/img/events/YAH.jpg" class="w-full r-3x" alt="YOUR AD HERE">
    -->
    <a href="https://www.clickadu.com/" data-ng-click="track('CLICKADU-banner')" target="_blank" >
        <img src="{{ app.baseUrl}}/img/events/BANNER_CLICKADU_400X400.gif" class="w-full r-3x" alt="Kimia">
    </a>
</div>




<!--
<div class="panel-footer">
        <div ng-if="(user.attending | filter:'mss').length <= 0 || !user.attending" class="pull-right">
            <a data-ng-disabled="loadingAttendingEvent" class="btn-link" rel="nofollow" ng-click="attend('mss', 'MAX SUMMIT 2015 SEOUL')">
                <span ng-hide="loadingAttendingEvent" > I will attend</span>
                <span ng-show="loadingAttendingEvent"><i class="fa fa-spin fa-spinner"></i></span>
            </a>
        </div>
        <div data-ng-click="track('Who is attending','Who is attending?')" ng-class="{'text-center': (user.attending | filter:'mss').length > 0 }">
            <a ui-sref="app.page.public/event({ eventname:'mss' })">Who is attending?</a>
        </div>
        <a href="mailto:advertising@mobintouch.com?subject=Advertise with Mobintouch" data-ng-click="track('YOUR AD HERE)" target="_blank" class="btn btn-default btn-block font-bold register-btn-sdw">Advertise With Us</a>
    </div>-->
