<small class="text-muted">

    <a class="hover-text-blue-lt" ui-sref="app.page.about" data-ng-click="track('About', 'About')">About</a> |

    <a class="hover-text-blue-lt" href="https://mobintouch.zendesk.com/" target="_blank" data-ng-click="track('Support', 'Support')">Help</a> |
    
    <a class="hover-text-blue-lt" ui-sref="app.page.dirpeoples({'startwith':'a'})">Directory</a> |

    <a class="hover-text-blue-lt" ui-sref="app.legal.user_agreement" rel="nofollow" data-ng-click="track('User Agreement', 'User Agreement')">User Agreement</a> |

    <a class="hover-text-blue-lt" ui-sref="app.legal.privacy" rel="nofollow" data-ng-click="track('Privacy Policy', 'Privacy Policy')">Privacy Policy</a> |

    <a class="hover-text-blue-lt" ui-sref="app.legal.cookies" rel="nofollow" data-ng-click="track('Cookie Policy', 'Cookie Policy')">Cookie Policy</a> |

    <a class="hover-text-blue-lt" href="https://blog.mobintouch.com"  target="_blank">Blog</a> |

    <br>{{app.name}} &copy; <script>var d = new Date(); $('.full_year').html(d.getFullYear());</script><span class="full_year"></span>

</small>