<div class="m-b-xs">
    <span class="text-u-c text-muted font-bold text-xs">Follow us</span>
</div>
<div class="text-muted text-lg">
    <a data-ng-click="track('Twitter Page', 'Footer', 'Twitter')" href="https://twitter.com/mobintouch" target="_blank"><button class="btn btn-rounded btn-sm btn-icon btn-default hover-text-blue-lt"><i class="fa fa-twitter"></i></button></a>
    <a data-ng-click="track('LinkedIn Page', 'Footer', 'LinkedIn')" href="https://www.linkedin.com/company/mobintouch" target="_blank"><button class="btn btn-rounded btn-sm btn-icon btn-default hover-text-blue-lt"><i class="fa fa-linkedin"></i></button></a>
    <a data-ng-click="track('Instagram Page', 'Footer', 'Instagram')" href="http://instagram.com/mobintouch/" target="_blank"><button class="btn btn-rounded btn-sm btn-icon btn-default hover-text-blue-lt"><i class="fa fa-instagram"></i></button></a>
    <a data-ng-click="track('Facebook Page', 'Footer', 'Facebook')" href="https://www.facebook.com/mobintouch" target="_blank"><button class="btn btn-rounded btn-sm btn-icon btn-default hover-text-blue-lt"><i class="fa fa-facebook"></i></button></a>
</div>