<div ng-init="app.settings.container = false; app.settings.headerFixed = false;" ng-controller="RegisterStepsFormController">

    <nav class="navbar navbar-fixed-top pos-rlt">
        <div class="container-fluid">
            <div class="padder-lg padder-v-lg">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                   <!-- <a ui-sref="index" class="navbar-brand hidden-xs signup-close" data-ng-click="track('Back On Landing Page', 'Navbar', 'Cross Button')">
                        <span><svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6 4.586l4.24-4.24c.395-.395 1.026-.392 1.416-.002.393.393.39 1.024 0 1.415L7.413 6l4.24 4.24c.395.395.392 1.026.002 1.416-.393.393-1.024.39-1.415 0L6 7.413l-4.24 4.24c-.395.395-1.026.392-1.416.002-.393-.393-.39-1.024 0-1.415L4.587 6 .347 1.76C-.05 1.364-.048.733.342.343c.393-.393 1.024-.39 1.415 0L6 4.587z" fill-rule="evenodd"></path></svg></span>
                    </a> --->
                    <a ui-sref="index" class="navbar-brand w-xxs visible-xs" data-ng-click="track('Back On Landing Page', 'Navbar', 'Logo')" ><i class=" icon-arrow-left text-xl"></i></a>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class="vertical-center flex-center">
        <div class="container pos-rlt animated fadeIn">
            <div class="row">
                <div class="text-center">
                    <span class="text-48 text-black-dker">Employment Information</span>
                </div>

                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 overflow-hidden">

                    <div class="text-center padder-v text-lg">
                        <span class="text-20">Having a complete profile increase your likelihood of receiving introductions to potentially relevant people or job offers.</span>
                    </div>
                    <form name="frmEmployment" ng-submit="updateEmployementInfo()" class="form-horizontal form-validation">
                        <div class="m-b-sm">
                            <input type="text" placeholder="Job Title" class="form-control input-lg" ng-model="user.jobTitle" ng-pattern="/^[a-zA-Z-\u00E0-\u00FC ',-/\&|]{2,120}$/" maxlength="120" required>
                        </div>
                        <div class="m-b-sm">
                            <select id="companyType" name="companyType" class="form-control input-lg" ng-include="'tpl/utils/roles.html?v={{app.latestUpdate}}'" ng-model="user.companyType" required></select>                       
                        </div>
                        <div class="m-b-sm" ng-if="user.companyType">
                            <div ng-switch on="user.companyType">
                                <span ng-switch-when="Software Engineer">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Mobile Developer">Mobile Developer</option>
                                        <option value="Frontend Developer">Frontend Developer</option>
                                        <option value="Backend Developer">Backend Developer</option>
                                        <option value="Full-Stack Developer">Full-Stack Developer</option>
                                        <option value="Engineering Manager">Engineering Manager</option>
                                        <option value="QA Engineer">QA Engineer</option>
                                        <option value="DevOps">DevOps</option>
                                        <option value="Software Architect">Software Architect</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Designer">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="UI/UX Designer">UI/UX Designer</option>
                                        <option value="User Researcher">User Researcher</option>
                                        <option value="Visual Designer">Visual Designer</option>
                                        <option value="Creative Director">Creative Director</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Operations">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Finance/Accounting">Finance/Accounting</option>
                                        <option value="H.R.">H.R.</option>
                                        <option value="Recruiter">Recruiter</option>
                                        <option value="Customer Service">Customer Service</option>
                                        <option value="Operations Manager">Operations Manager</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Sales">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Business Development">Business Development</option>
                                        <option value="BD Manager">BD Manager</option>
                                        <option value="Account Manager">Account Manager</option>
                                        <option value="Sales Manager">Sales Manager</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Investor">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Syndicate Lead">Syndicate Lead</option>
                                        <option value="Angel">Angel</option>
                                        <option value="Seed Fund">Seed Fund</option>
                                        <option value="VC">VC</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Management">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="CEO">CEO</option>
                                        <option value="CFO">CFO</option>
                                        <option value="CMO">CMO</option>
                                        <option value="COO">COO</option>
                                        <option value="CTO">CTO</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Marketing">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Growth Hacker">Growth Hacker</option>
                                        <option value="Marketing Manager">Marketing Manager</option>
                                        <option value="Content Creator">Content Creator</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Other Engineering">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Hardware Engineer">Hardware Engineer</option>
                                        <option value="Mechanical Engineer">Mechanical Engineer</option>
                                        <option value="Systems Engineer">Systems Engineer</option>
                                    </select>
                                </span>
                                <span ng-switch-when="Other">
                                    <select ui-jq="chosen" multiple class="form-control" ng-model="user.companySubType" data-placeholder="Add Another Role">
                                        <option value="Attorney">Attorney</option>
                                        <option value="Business Analyst">Business Analyst</option>
                                        <option value="Data Scientist">Data Scientist</option>
                                        <option value="Product Manager">Product Manager</option>
                                        <option value="Project Manager">Project Manager</option>
                                    </select>
                                </span>
                            </div>                     
                        </div>

                        <div class="m-b-sm search-dropdown">
                            <div class="has-feedback autocomplete-company search-wrapper" ng-if="user.companyPage.administrator">
                                <span uib-tooltip="Admins can not change the name of the company">
                                    <input
                                        uib-tooltip="Admins can not change the name of the company"
                                        type="text" 
                                        placeholder="Company" 
                                        class="form-control input-lg" 
                                        ng-keydown="unselectItem()" 
                                        ng-model="user.company" 
                                        uib-typeahead="fuser.name for fuser in companyNameSearch($viewValue) | limitTo:15" 
                                        ng-pattern="/^[a-zA-Z0-9- '.,-/\&]{2,100}$/" 
                                        maxlength="100" 
                                        typeahead-on-select='onSelect($item)' 
                                        typeahead-loading='loading_companies' 
                                        typeahead-template-url="tpl/blocks_general/profile-company-autocomplete.html?v={{app.latestUpdate}}" 
                                        typeahead-wait-ms="300" 
                                        ng-disabled="hasEmployer == 'false' || !user.hasEmployer || user.companyPage.administrator" 
                                        ng-required="hasEmployer == 'true'" 
                                        ng-style="hasEmployer == 'false' ? {'border-color': '#eaeaea'} : {}">
                                </span>
                            </div>
                            <div class="has-feedback autocomplete-company search-wrapper" ng-if="!user.companyPage.administrator">
                                <input type="text" 
                                       placeholder="Company" 
                                       class="form-control input-lg" 
                                       ng-keydown="unselectItem()" 
                                       ng-model="user.company" 
                                       uib-typeahead="fuser.name for fuser in companyNameSearch($viewValue) | limitTo:15" 
                                       ng-pattern="/^[a-zA-Z0-9- '.,-/\&]{2,100}$/" 
                                       maxlength="100" 
                                       typeahead-on-select='onSelect($item)' 
                                       typeahead-loading='loading_companies' 
                                       typeahead-template-url="tpl/blocks_general/profile-company-autocomplete.html?v={{app.latestUpdate}}" 
                                       typeahead-wait-ms="300" 
                                       ng-disabled="hasEmployer == 'false' || !user.hasEmployer" 
                                       ng-required="hasEmployer == 'true'" 
                                       ng-style="hasEmployer == 'false' ? {'border-color': '#eaeaea'} : {}">
                                    <i ng-show="loading_companies" class="fa fa-spinner fa-spin form-control-feedback input-loader-lg"></i>
                            </div>
                        </div>
                        <div class="m-b-xs col-xs-12">
                            <div class="radio no-padder">
                                <span ng-if="user.companyPage.administrator" uib-tooltip="Admins always have employer">
                                    <label class="i-checks i-checks-lblue">
                                        <input type="checkbox" ng-model="user.hasEmployer" ng-true-value="false" ng-false-value="true" ng-checked="!user.hasEmployer" ng-change="updateHasEmployer()" disabled="disabled">
                                            <i></i>
                                            I don't have an employer
                                    </label>
                                </span>
                                <span ng-if="!user.companyPage.administrator">
                                    <label class="i-checks i-checks-lblue">
                                        <input type="checkbox" ng-model="user.hasEmployer" ng-true-value="false" ng-false-value="true" ng-checked="!user.hasEmployer" ng-init="checkEmployer()" ng-change="updateHasEmployer()">
                                            <i></i>
                                            I don't have an employer
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="m-b-sm">
                            <input type="text" placeholder="Annual Gross Salary (Optional)" ng-class="{'text-14':user.grossSalary.length <= 0, 'text-18':user.grossSalary.length > 0 }" class="form-control input-lg" style="width: 60%;float: left;margin-right: 3%;" ng-model="user.grossSalary" ng-pattern="/^[0-9]{0,9}$/" maxlength="120">
                                <select class="form-control input-lg" ng-model="user.currency" ng-include=" 'tpl/utils/currencies.html?v={{app.latestUpdate}}'" style="width: 37%;float: left;">
                                </select>
                                <div class="clear clearfix"></div>
                        </div>
                        <div class="m-b-xs">
                            <select class="form-control input-lg" ng-model="user.currentStatus" required>
                                <option value="">Current Status</option>
                                <option value="actively seeking job opportunities">Actively seeking job opportunities</option>
                                <option value="not looking for a job but open to new opportunities">Not looking for a job but open to new opportunities</option>
                                <option value="not looking for a job at this time">Not looking for a job at this time</option>
                                <option value="never contact me about job opportunities">Never contact me about job opportunities</option>
                            </select>
                        </div>
                        <div class="m-b-sm padder">
                            <span class="text-xs"><span class="font-bold">Note: </span>Your salary information is totally private, career information you provide will only be visible to active and qualified recruiters.</span>
                        </div>
                        <div class="m-b-sm">
                            <button type="submit" ng-disabled='frmEmployment.$invalid || loadingSignup' class="btn btn-lg btn-blue-lt col-xs-12">
                                <span ng-hide="loadingSignup" class="text-md">Continue <span class="text-md"> <i class="fa fa-angle-double-right"></i></span></span>
                                <span ng-show="loadingSignup" class="text-md">Continue <i class="fa fa-spinner fa-spin text-md"></i></span>
                            </button>
                        </div>
                        <div class="clear clearfix"></div>
                        <div class="m-t-xxl">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="outer_progress">
                                </div>
                                <div class="inner_progress" style="width: 50%;"></div>
                            </div>
                            <div class="clear clearfix"></div>
                            <div class="text-center m-t-sm m-b-xxl">
                                <span class="text-md">50% complete</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
    [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
    new SelectFx(el, {
    onChange: function (val) {
    var select = $('#selectCompanyType');
    select.val(val);
    $('.cs-skin-underline').css('border-color', '#eaeaea');
    select.trigger('change');
    }
    });
    });
    })();</script>
