<style>
    .popover{
        min-width: 345px;
        width: 345px;
    }
</style>
<div ng-init="app.settings.container = false; app.settings.headerFixed = false;" ng-controller="RegisterStepsFormController">
    <nav class="navbar navbar-fixed-top pos-rlt">
        <div class="container-fluid">
            <div class="padder-lg padder-v-lg">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <!--
                    <a ui-sref="index" class="navbar-brand hidden-xs signup-close" data-ng-click="track('Back On Landing Page', 'Navbar', 'Cross Button')">
                        <span><svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path d="M6 4.586l4.24-4.24c.395-.395 1.026-.392 1.416-.002.393.393.39 1.024 0 1.415L7.413 6l4.24 4.24c.395.395.392 1.026.002 1.416-.393.393-1.024.39-1.415 0L6 7.413l-4.24 4.24c-.395.395-1.026.392-1.416.002-.393-.393-.39-1.024 0-1.415L4.587 6 .347 1.76C-.05 1.364-.048.733.342.343c.393-.393 1.024-.39 1.415 0L6 4.587z" fill-rule="evenodd"></path></svg></span>
                    </a> --->
                    <a ui-sref="index" class="navbar-brand w-xxs visible-xs" data-ng-click="track('Back On Landing Page', 'Navbar', 'Logo')" ><i class=" icon-arrow-left text-xl"></i></a>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class="vertical-center flex-center padder-v-xl" ng-init="filedownloaded = false; fileuploaded = false;">
        <div class="container pos-rlt animated fadeIn">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                    <div class="text-center">
                        <span class="text-48">Let's find some people you know.</span>
                    </div>
                    <div class="text-center m-b-xl">
                        <span class="text-20">Connecting with your contacts is the fastest way to grow your network.</span>
                        <hr />
                    </div>
                    <div class="text-center m-b-xl">
                        <div class="text-black m-b-lg text-20">1. Request your archive from Linkedin</div>
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center m-b-xxl text-md">
                            Active networking is vital to career growth. Nurturing relationships with your contacts is mutually beneficial, you can raise your professional profile and broaden your access to new opportunities. 
                        </div>
                        <a href="https://www.linkedin.com/settings/data-export-page" class="btn btn-lg padder-xl padder-v-md text-white btn-blue-lt r-3x text-24" target="_blank" rel="nofollow" ng-click="filedownloaded = true; downloadedLinkedinConnections();">Request archive <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <hr class="col-xs-12 no-padder m-n">
                        <div class="clear clearfix"></div>
                        <div class="m-t-lg m-b-md text-md text-center" ng-if="!filedownloaded">
                            <a uib-popover-template="'popover.html'" popover-is-open="popover.isOpen" popover-trigger="'click'">Skip this step</a>
                        </div>  
                        <div class="m-t-lg" ng-if="filedownloaded">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center m-b-xxl text-md">
                                Requesting your archive will takes a few minutes, LinkedIn will send you an email with a link to download your archive, but don't worry we will back to complete this step later.
                            </div>
                            <div ng-class="{'padder-xl':windowWidth >= 768}">
                                <a ui-sref="access.step4" class="btn btn-lg btn-blue-lt col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
                                    <span class="text-lg">Continue <span class="text-sm"> <i class="fa fa-angle-double-right"></i></span></span>
                                </a>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="popover.html">
    <div class='padder padder-t-md text-center'>
    <div class='text-md'>
    Synicing your contacts is the best way to start building your network.
    </div>
    <div class='text-md m-t-md m-b-md'>Are you sure you want to skip this step?</div>
    <div class='col-xs-12 m-b-md'>
    <div class='col-xs-6'>
    <a class='btn no-border pull-right text-md' ng-click='skipLinkedinImport()'>Yes</a>
    </div>
    <div class='col-xs-6'>
    <a class='btn btn-blue-lt no-border pull-left text-md padder r-3x no' ng-click='$parent.popover.isOpen=false;'>No</a>
    </div>
    </div>
    </div>
</script>
