<div class="hbox hbox-auto-xs" ng-init="app.settings.container = true;">

    <!-- SETTINGS NAVBAR -->
    <div class="col w-lg wrapper">
        <div class="wrapper b-a">
            <ul class="nav nav-stacked nav-sm">
                <li class=""><a ui-sref="app.page.settings">Account</a></li>
                <li class="active"><a ui-sref="app.page.settings_password">Password</a></li>
                <li class=""><a ui-sref="app.page.settings_notifications">Notifications</a></li>
                <li class=""><a ui-sref="app.page.settings_privacy">Privacy</a></li>
            </ul>
        </div>
    </div>
    <!--/ SETTINGS NAVBAR -->

    <div class="col wrapper" ng-controller="SettingsFormController">
        <div class="row">
            <div class="col-xs-12">
                <!--CHANGE PASSWORD-->
                <form ng-submit="savePassword()" name="settingsPasswordForm" class="form-validation form-horizontal">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 m-b-lg">
                        <h3 class="text-lg text-dark font-bold">Change password</h3>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-2 control-label text-dark">Current Password</label>
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            <input type="password" class="form-control" name="currentPassword" ng-model="currentPassword" ng-minlength="5"  required >
                            <p class="m-t-xs"><a ui-sref="access.forgotpwd">Forgot your password?</a></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-2 control-label text-dark">New Password</label>
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            <input type="password" class="form-control" name="newPassword1" ng-model="newPassword1" ng-minlength="5"  required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-2 control-label text-dark">Verify Password</label>
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            <input type="password" class="form-control" name="newPassword2" required ng-model="newPassword2" ng-minlength="5"  ui-validate=" '$value==newPassword1' " ui-validate-watch=" 'password' ">
                            <span ng-show='form.confirm_password.$error.validator'>Passwords do not match!</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-8 col-sm-2 col-md-offset-2 col-md-8">
                            <button id="notification-trigger" class="btn btn-blue-lt m-t progress-button" type="submit" ng-disabled='settingsPasswordForm.$invalid'>
                                <span ng-hide="loadingPassword" class="text-lg">Save changes</span>
                                <span ng-show="loadingPassword" class="text-lg">Save changes <i class="fa fa-sun-o fa-circle-o-notch"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
                <!--/CHANGE PASSWORD-->
            </div>
        </div>
    </div>
</div>
