<div ng-controller="TooltipDemoCtrl" class="panel panel-default">
    <div class="panel-heading">
        <h4 class="m-n">Tracking Solutions</h4>
        <small class="text-muted">Select your integrated tracking solutions.</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="btn-group">
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.adxtracking" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/ad-x-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.adjust" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/adjust-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.appannieanalytics" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/App-Annie-Logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.appboy" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/appboy-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.appsee" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/Appsee-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.appsflyer" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/appsflyer-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.appsalar" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/Apsalar-logo.svg"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.countly" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/countly-logo.png"></span>
                    </button>
                </div>

                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.distimo" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/distimo-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.flurry" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/Flurry-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.kochava" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/kochava-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.localytics" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/Localytics-logo.png"></span>
                    </button>
                </div>

                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.mixpanel" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/mixpanel-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.mobileapptracking" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/mobile-app-tracking-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.swrve" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/swrve-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.tapstream" btn-checkbox>
                        <span class="thumb-lg r-r"><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/Tapstream-logo.png"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.upsight" btn-checkbox>
                        <span class="thumb-lg "><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/upsight-logo.svg"></span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box m-b-md" ng-model="user.trackingServices.emma" btn-checkbox>
                        <span class="thumb-lg "><img src="{{app.baseUrl}}/img/trackingSolutionsLogo/emma-logo.svg"></span>
                    </button>
                </div>

                <!--other tracking solutions-->
                <div class="col-xs-6 col-sm-3 m-b-sm">
                    <button class="btn btn-lg btn-block btn-tracking tracking-company-box-others m-b-md" ng-model="user.trackingServices.other" btn-checkbox>
                        <i class="text-lg font-thin icon-plus thumb-lg text-muted"></i>
                        <h4 class="text-center m-n font-thin text-muted">Other</h4>
                    </button>
                </div>

                <div class="col-xs-12 m-t" ng-show="user.trackingServices.other">
                    <div class="form-group animated fadeIn">
                        <label>Add your tracking solutions (ex. solution1, solution2…):</label>
                        <tags-input ng-model="user.trackingServices.othertrackingSolutions" placeholder="Add a new tracking solution…"></tags-input>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="panel-footer bg-light lter">
        <div class="text-right">
            <button type="submit" class="btn btn-success" ng-click="saveTrackingServices()">
                <span ng-hide="loadingTrackingServices" class="text">Save</span>
                <span ng-show="loadingTrackingServices" class="text"><i class="fa fa-spin fa-circle-o-notch"></i> Save</span>
            </button>
        </div>
    </footer>
</div>
