<div class="explore_loader">
    <!--<button ng-if="isLoadableFeed && !isFeedLoading" class="btn btn-default btn-block m-t no-shadow" ng-click="loadMoreUpdates()">Show more</button>
    <button ng-if="isLoadableFeed && isFeedLoading" class="btn btn-default btn-block m-t no-shadow disabled">Loading...<i class="fa fa-spinner fa-spin"></i></button>-->

    <!--<div class="panel panel-default">
        <div class="wrapper">
            <div class="feed_header">
                <div class="thumb-sm avatar pull-left">
                    <img ng-hide="feed.companyAvatar" src="https://cdn.mobintouch.com/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" alt="Ved Pvt Ltd" class="ng-hide">
                </div>
                <div class="col-xs-10"></div>
                <div class="col-xs-10"></div>        
                <div class="clear clearfix"></div>
            </div>
        </div>
    </div>-->

    <div class="panel panel-default bg-white-only">
        <div class="timeline-item panel-heading">
            <div class="animated-background">
                <div class="background-masker header-avatar"></div>
                <div class="background-masker header-top"></div>
                <div class="background-masker header-left"></div>
                <div class="background-masker header-subleft"></div>
                <div class="background-masker header-right"></div>
                <div class="background-masker header-bottom"></div>
                <div class="background-masker subheader-left-one"></div>
                <div class="background-masker subheader-right-one"></div>
                <div class="background-masker subheader-bottom-one"></div>
                <div class="background-masker subheader-left-two"></div>
                <div class="background-masker subheader-right-two"></div>
                <div class="background-masker subheader-bottom-two"></div>
                <div class="background-masker subheader-left-three"></div>
                <div class="background-masker subheader-right-three"></div>
                <div class="background-masker subheader-bottom-three"></div>
            </div>
        </div>
    </div>
</div>