<style>
    .tags-input.ng-invalid .tags{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid #e7ecee;
        border-color: #e7ecee;
    }
    .text-red-dk{
        color: #c35353 !important;
    }
    .tooltip.in{
        opacity: 1;
    }
    .tooltip-inner{
        white-space: normal;
    }
</style>
<div class="container" ng-init="loadList()" ng-class="{'m-b-xxl':userMode == 'visitor'}" ng-init="app.settings.container = false; app.settings.headerFixed = true;" ng-controller="SignupModalController" in-view-container>
    <div class="m-b-lg">
        <h2 class="font-light padder b-b padder-v-md">All Results ({{ (count | number : fractionSize) || 0}})</h2>
    </div>
    <div class="col-sm-2">
        <div class="text-md text-gray">
            <div class="padder-v-sm">
                <a class="inline" ng-class="{'text-gray font-light hover-underline':query.type != 'all', 'hover-default hover-black-dker':query.type == 'all'}" ng-click="updateType('all')">All Results</a>
            </div>
            <div class="padder-v-sm">
                <a class="" ng-class="{'text-gray font-light hover-underline':query.type != 'profile', 'hover-default hover-black-dker':query.type == 'profile'}" ng-click="updateType('profile')">People</a>
            </div>
            <div class="padder-v-sm">
                <a class="inline" ng-class="{'text-gray font-light hover-underline':query.type != 'company', 'hover-default hover-black-dker':query.type == 'company'}" ng-click="updateType('company')">Companies</a>
            </div>
        </div>     
    </div>
    <div class="col-sm-10">
        <div ng-controller="FollowController">
            <div class="" infinite-scroll="isLoadableList && !loadingList && loadList()" infinite-scroll-distance="3">
                <div class="padder-v pos-rlt" ng-class="{'b-b':!$last}" ng-repeat="(index, l) in list">
                    <div ng-if="l.type == 'all' || l.type == 'company'" class="">
                        <a class="" ui-sref="app.page.company/public({companyusername: l.username})">
                            <img ng-if="l.avatar" src="{{app.baseUrl}}{{l.avatar}}" class="b-a r pull-left thumb-md m-r-xs">
                            <img ng-if="!l.avatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" class="b-a r pull-left thumb-md m-r-xs bg-gray">
                        </a>
                        <div class="companies-description clear m-l-sm" ng-style="windowWidth <= 420 ? {'width': 'auto'} : {'width': '75%'}">
                            <div class="m-l-sm">
                                <h4 class="m-n"><a ui-sref="app.page.company/public({companyusername: l.username})" class="font-bold text-md hover-black-dker hover-underline" ng-style="windowWidth > 480 && windowWidth < 1200 ? {'display':'inline-block', 'padding':'6px 0px'} : {}">{{ l.name}}</a></h4>
                                <div>
                                    <span ng-if="l.city && !l.basedCountry">{{ l.city}}</span>
                                    <span ng-if="l.city && l.basedCountry">{{ l.city}}, {{ 'country.' + l.basedCountry | translate }}</span>
                                    <span ng-if="l.description" class="text-gray"> • {{ l.description | subStr:0:160:true }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="connection-action pull-right top-15 right-10" ng-class="windowWidth > 480 ? 'pos-abt' : ''">
                            <button ng-if="!l.isFollowing && user.username" class="btn btn-blue-lt" ng-if="user.username" ng-click="follow(l.username); l.isFollowing = true; l.noOfFollowers = l.noOfFollowers + 1;">Follow</button>
                            <button ng-if="!l.isFollowing && !user.username" class="btn btn-blue-lt" ng-if="!user.username" ng-click="showSignupModal();">Follow</button>
                            <button ng-if="l.isFollowing" class="btn btn-default" ng-click="unfollow(l.username); l.isFollowing = false; l.noOfFollowers = l.noOfFollowers - 1;" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false">
                                <span ng-if="!mouseOver">Following</span>
                                <span ng-if="mouseOver">Unfollow</span>
                            </button>
                            <span class="text-xs m-t-xxs text-center text-gray" ng-class="{'block':windowWidth > 480}">{{ l.noOfFollowers}} Followers</span>
                        </div>
                        <div class="clear clearfix"></div>
                    </div>
                    <div ng-if="l.type == 'all' || l.type == 'profile'">
                        <img ng-if="l.avatar" src="{{app.baseUrl}}{{l.avatar}}" class="img-circle pull-left thumb-md avatar b-3x m-r" uib-popover-template="'popover.html'" popover-is-open="popoverIsopen" ng-mouseenter="pConnection = l; popoverIsopen = true;" ng-mouseleave="popoverIsopen = false;" popover-trigger="'mouseenter'">
                        <img ng-if="!l.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" class="img-circle pull-left thumb-md avatar b-3x m-r" uib-popover-template="'popover.html'" popover-is-open="popoverIsopen" ng-mouseenter="pConnection = l; popoverIsopen = true;" ng-mouseleave="popoverIsopen = false;" popover-trigger="'mouseenter'">
                        <div class="connection-description clear m-l-sm" ng-style="windowWidth <= 420 ? {'width': 'auto'} : {'width': '75%'}">
                            <div class="m-l-sm">
                                <a ui-sref="app.page.public({username: l.username})" class="font-bold text-md hover-black-dker hover-underline" ng-style="windowWidth > 480 && windowWidth < 1200 ? {'display':'inline-block', 'padding':'6px 0px'} : {}">{{ l.name}} {{ l.lastname}}</a>
                                <div>
                                    <span>{{ l.jobTitle}} 
                                        <span ng-if="l.company && l.companyPage.employee.company">at <a ui-sref="app.page.company/public({'companyusername':l.companyPage.employee.company})" class="hover-black-dker hover-underline" target="_blank" >{{ l.company}}</a></span>
                                        <span ng-if="l.company && !l.companyPage.employee.company">at {{ l.company}}</span>
                                    </span>
                                    <span ng-if="l.city" class="m-l-n-xxs">, {{ l.city}}</span>
                                    <span ng-if="l.miniResume" class="text-gray"> • {{ l.miniResume | subStr:0:160:true }}</span>
                                    <span ng-if="!l.miniResume && l.summary" class="text-gray"> • {{ l.summary | subStr:0:160:true }}</span>
                                    <div class="interest-container padder-v-sm" ng-init="slice = 3" ng-if="l.keywords.length > 0">
                                        <div class="hover-pointer text-blue-lt hover-underline inline m-r-sm" ng-repeat="keyword in l.keywords.slice(0, slice)" ng-click="addQuery(keyword)">#{{ keyword}}</div>
                                        <a class="inline text-xs text-gray" ng-if="l.keywords.length > slice" ng-click="$parent.slice = ($parent.slice + 5)">More</a>
                                    </div>
                                    <div class="b-t padder-v m-t-sm" ng-if="l.mutualConnections.length <= 0 && user.username && user.username != l.username">
                                        <span class="text-gray opacity-8">No mutual connections • </span>
                                        <a class="text-blue-lt hover-text-blue-lt hover-underline" ui-sref="app.page.addconnections" tooltip="Find connection on Mobintouch">search</a>
                                    </div>
                                    <div class="b-t padder-v m-t-sm" ng-if="l.mutualConnections.length > 0 && user.username != l.username" ng-init="mConnect = (l.mutualConnections | toArray | orderBy:'- date'); connectionIndex = 0;">
                                        <a ui-sref="app.page.public({username: mConnect[1].username})">
                                            <img class="thumb-xxxs img-circle bg-white"
                                                 ng-if="mConnect[0]" src="{{app.baseUrl}}{{mConnect[0].avatar ? mConnect[0].avatar : '/img/mit-default-avatar.svg'}}" uib-popover-template="'popover0.html'" popover-is-open="popoverIsopen0" ng-mouseenter="pConnection = mConnect[0]; popoverIsopen0 = true;" ng-mouseleave="popoverIsopen0 = false;" popover-trigger="'mouseenter'" popover-append-to-body="true"/>
                                        </a>
                                        <a ui-sref="app.page.public({username: mConnect[1].username})">
                                            <img class="thumb-xxxs img-circle m-l-n bg-white"
                                                 ng-if="mConnect[1]" src="{{app.baseUrl}}{{mConnect[1].avatar ? mConnect[1].avatar : '/img/mit-default-avatar.svg' }}" uib-popover-template="'popover1.html'" popover-is-open="popoverIsopen1" ng-mouseenter="pConnection = mConnect[1]; popoverIsopen1 = true;" ng-mouseleave="popoverIsopen1 = false;" popover-trigger="'mouseenter'" popover-append-to-body="true"/>
                                        </a>
                                        <a class="thumb-xxxs btn-rounded btn btn-default bg-white m-l-n" style="padding: 3px;" ng-if="mConnect.length > 2" uib-tooltip="+{{ mConnect.length - 2}} other connection" ng-click="viewMutualConnections(l);">+</a>
                                        <span class="m-l-sm text-gray" ng-if="mConnect.length == 1">
                                            Mutual Connections with <a class="hover-black-dker hover-underline" ui-sref="app.page.public({username: mConnect[0].username})" uib-tooltip-template="'tooltip.html'" ng-mouseover="connectionIndex = 0">{{ mConnect[0].name}} {{ mConnect[0].lastname}}</a>
                                        </span>
                                        <span class="m-l-sm text-gray" ng-if="mConnect.length == 2">
                                            Mutual Connections with <a class="hover-black-dker hover-underline" ui-sref="app.page.public({username: mConnect[0].username})" uib-tooltip-template="'tooltip.html'" ng-mouseover="connectionIndex = 0">{{ mConnect[0].name}} {{ mConnect[0].lastname}}</a> and <a class="hover-black-dker hover-underline" ng-if="mConnect[1]" ui-sref="app.page.public({username: mConnect[1].username})" uib-tooltip-template="'tooltip.html'" ng-mouseover="connectionIndex = 1">{{ mConnect[1].name}} {{ mConnect[1].lastname}}</a>
                                        </span>
                                        <span class="m-l-sm text-gray" ng-if="mConnect.length > 2">
                                            Mutual Connections with <a class="hover-black-dker hover-underline" ui-sref="app.page.public({username: mConnect[0].username})" uib-tooltip-template="'tooltip.html'" ng-mouseover="connectionIndex = 0">{{ mConnect[0].name}} {{ mConnect[0].lastname}}</a>, <a class="hover-black-dker hover-underline" ng-if="mConnect[1]" ui-sref="app.page.public({username: mConnect[1].username})" uib-tooltip-template="'tooltip.html'" ng-mouseover="connectionIndex = 1">{{ mConnect[1].name}} {{ mConnect[1].lastname}}</a> and <a class="hover-black-dker hover-underline" ng-click="viewMutualConnections(l);" uib-tooltip="+{{ mConnect.length - 2}} other connection">{{ mConnect.length - 2}} more</a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="connection-action pull-right top-15 right-10" ng-class="windowWidth > 480 ? 'pos-abt' : ''" ng-if="l.isConnected && l.username != user.username"> 
                            <button class="btn" ng-class="{'btn-blue-lt':mouseOver, 'btn-blue-lt-bordered':!mouseOver}" ng-click="sendMessage(l)" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false">Message</button>
                            <div class="dropdown inline d-p-sm" uib-dropdown>
                                <!--<button class="btn btn-default bg-white b-a blue-bordered" uib-dropdown-toggle><i class="fa fa-angle-down"></i></button>-->
                                <a class="inline padder-sm padder-v-sm" uib-dropdown-toggle>
                                    <i class="fa fa-ellipsis-h text-blue-lt hover-text-blue-lt"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                                    <li ng-click="disconnect(l)"><a data-ng-click="disconnect" class="text-red-dk">Disconnect</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="connection-action pull-right top-15 right-10" ng-class="windowWidth > 480 ? 'pos-abt' : ''" ng-if="!l.isConnected && !l.isRequested && !l.isRequest && l.username != user.username">
                            <button class="btn btn-blue-lt" ng-if="user.username" ng-click="connect(l)">Connect</button>
                            <button class="btn btn-blue-lt" ng-if="!user.username" ng-click="showSignupModal();">Connect</button>
                        </div>
                        <div class="connection-action pull-right top-15 right-10" ng-class="windowWidth > 480 ? 'pos-abt' : ''" ng-if="l.isRequested">
                            <button class="btn btn-default btn-disabled-default">Sent</button>
                        </div>
                        <div class="connection-action pull-right top-15 right-10" ng-class="windowWidth > 480 ? 'pos-abt' : ''" ng-if="l.isRequest">
                            <button class="btn" ng-click="accept(l)" ng-class="{'btn-blue-lt':mouseOver, 'btn-blue-lt-bordered':!mouseOver}" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false">Accept</button>
                            <div class="dropdown inline d-p-sm" uib-dropdown>
                                <!--<button class="btn btn-default bg-white b-a dropdown-toggle blue-bordered" uib-dropdown-toggle><i class="fa fa-angle-down"></i></button>-->
                                <a class="inline padder-sm padder-v-sm" uib-dropdown-toggle>
                                    <i class="fa fa-ellipsis-h text-blue-lt hover-text-blue-lt"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                                    <li ng-click="ignore(l)"><a class="text-red-dk">Ignore</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear clearfix"></div>
                    </div>
                </div>
            </div>
            <div ng-include="'tpl/loader/jobs.html?v=' + app.latestUpdate" ng-show="loadingList"></div>
            <div ng-if="!isLoadableList && !loadingList && list.length <= 0">
                NO RESULTS YET!
            </div>
        </div>
    </div>
</div>
<div class="m-t-3xl visitor" ng-if="userMode == 'visitor'" ng-include="'tpl/blocks_general/footer/visitor_footer.html?v=' + app.latestUpdate"></div>
<div class="m-t-lg" ng-if="userMode == 'member'" ng-include="'tpl/blocks_general/footer/member_footer.html?v=' + app.latestUpdate"></div>
<script type="text/ng-template" id="popover.html">
    <div ng-mouseenter="$parent.popoverIsopen = true;" ng-mouseleave="$parent.popoverIsopen = false;" class="popover-tri">
    <div ng-class="{'avatar-container':!pConnection.cover}">
    <div ng-if="pConnection.cover"><img class="cover" src="{{app.baseUrl}}{{pConnection.cover}}"/></div>
    <div class="inline pull-left">
    <img class="thumb-md b-a img-circle" ng-class="{'avatar-cover':pConnection.cover,'avatar':!pConnection.cover}" ng-show="pConnection.avatar" src="{{app.baseUrl}}{{pConnection.avatar}}"/>
    <img class="thumb-md b-a img-circle" ng-show="!pConnection.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}"/>
    </div>
    <div class="inline description">
    <div class="padder-l-sm">
    <a class="font-bold text-md block" ui-sref="app.page.public({username:  pConnection.username })" > {{pConnection.name}} {{pConnection.lastname}}</a>
    <span class="text-gray text-sm" ng-if="!pConnection.miniResume && !pConnection.summary">{{ pConnection.jobTitle}}</span>
    <span ng-if="connection.city && !pConnection.miniResume && !pConnection.summary" class="m-l-n-xxs text-gray text-sm">, {{ pConnection.city}}</span>
    <div class="text-gray text-sm" ng-if="pConnection.miniResume">{{ pConnection.miniResume | subStr:0:160:true }}</div>
    <div class="text-gray text-sm" ng-if="!pConnection.miniResume && pConnection.summary">{{ pConnection.summary | subStr:0:160:true }}</div>
    </div>
    </div>
    <div class="clear clearfix"></div>
    </div>
    <div class="padder-v-sm padder-l-sm b-t m-t-sm" ng-if="!pConnection.isRequested">
    <button class="btn" ng-class="{'btn-blue-lt':mouseOver, 'btn-blue-lt-bordered':!mouseOver}" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false" ng-click="$parent.popoverIsopen = false;sendMessage(pConnection);" ng-if="pConnection.isConnected">Message</button>
    <button class="btn btn-blue-lt" ng-if="user.username && !pConnection.isConnected && !pConnection.isRequested && !pConnection.isRequest" ng-click="$parent.popoverIsopen = false;connect(pConnection);">Connect</button>
    <button class="btn btn-blue-lt" ng-if="!user.username && !pConnection.isConnected && !pConnection.isRequested && !pConnection.isRequest" ng-click="showSignupModal();">Connect</button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="popover0.html">
    <div ng-mouseenter="$parent.popoverIsopen0 = true;" ng-mouseleave="$parent.popoverIsopen0 = false;" class="popover-tri">
    <div ng-class="{'avatar-container':!pConnection.cover}">
    <div ng-if="pConnection.cover"><img class="cover" src="{{app.baseUrl}}{{pConnection.cover}}"/></div>
    <div class="inline pull-left">
    <img class="thumb-md b-a img-circle" ng-class="{'avatar-cover':pConnection.cover,'avatar':!pConnection.cover}" ng-show="pConnection.avatar" src="{{app.baseUrl}}{{pConnection.avatar}}"/>
    <img class="thumb-md b-a img-circle" ng-show="!pConnection.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}"/>
    </div>
    <div class="inline description">
    <div class="padder-l-sm">
    <a class="font-bold text-md block" ui-sref="app.page.public({username:  pConnection.username })" > {{pConnection.name}} {{pConnection.lastname}}</a>
    <span class="text-gray text-sm" ng-if="!pConnection.miniResume && !pConnection.summary">{{ pConnection.jobTitle}}</span>
    <span ng-if="connection.city && !pConnection.miniResume && !pConnection.summary" class="m-l-n-xxs text-gray text-sm">, {{ pConnection.city}}</span>
    <div class="text-gray text-sm" ng-if="pConnection.miniResume">{{ pConnection.miniResume | subStr:0:160:true }}</div>
    <div class="text-gray text-sm" ng-if="!pConnection.miniResume && pConnection.summary">{{ pConnection.summary | subStr:0:160:true }}</div>
    </div>
    </div>
    <div class="clear clearfix"></div>
    </div>
    <div class="padder-v-sm padder-l-sm b-t m-t-sm" ng-if="!pConnection.isRequested">
    <button class="btn" ng-class="{'btn-blue-lt':mouseOver, 'btn-blue-lt-bordered':!mouseOver}" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false" ng-click="$parent.popoverIsopen0 = false;sendMessage(pConnection);" ng-if="pConnection.isConnected">Message</button>
    <button class="btn btn-blue-lt" ng-if="!pConnection.isConnected && !pConnection.isRequested && !pConnection.isRequest" ng-click="$parent.popoverIsopen0 = false;connect(pConnection);">Connect</button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="popover1.html">
    <div ng-mouseenter="$parent.popoverIsopen1 = true;" ng-mouseleave="$parent.popoverIsopen1 = false;" class="popover-tri">
    <div ng-class="{'avatar-container':!pConnection.cover}">
    <div ng-if="pConnection.cover"><img class="cover" src="{{app.baseUrl}}{{pConnection.cover}}"/></div>
    <div class="inline pull-left">
    <img class="thumb-md b-a img-circle" ng-class="{'avatar-cover':pConnection.cover,'avatar':!pConnection.cover}" ng-show="pConnection.avatar" src="{{app.baseUrl}}{{pConnection.avatar}}"/>
    <img class="thumb-md b-a img-circle" ng-show="!pConnection.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}"/>
    </div>
    <div class="inline description">
    <div class="padder-l-sm">
    <a class="font-bold text-md block" ui-sref="app.page.public({username:  pConnection.username })" > {{pConnection.name}} {{pConnection.lastname}}</a>
    <span class="text-gray text-sm" ng-if="!pConnection.miniResume && !pConnection.summary">{{ pConnection.jobTitle}}</span>
    <span ng-if="connection.city && !pConnection.miniResume && !pConnection.summary" class="m-l-n-xxs text-gray text-sm">, {{ pConnection.city}}</span>
    <div class="text-gray text-sm" ng-if="pConnection.miniResume">{{ pConnection.miniResume | subStr:0:160:true }}</div>
    <div class="text-gray text-sm" ng-if="!pConnection.miniResume && pConnection.summary">{{ pConnection.summary | subStr:0:160:true }}</div>
    </div>
    </div>
    <div class="clear clearfix"></div>
    </div>
    <div class="padder-v-sm padder-l-sm b-t m-t-sm" ng-if="!pConnection.isRequested">
    <button class="btn" ng-class="{'btn-blue-lt':mouseOver, 'btn-blue-lt-bordered':!mouseOver}" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false" ng-click="$parent.popoverIsopen1 = false;sendMessage(pConnection);" ng-if="pConnection.isConnected">Message</button>
    <button class="btn btn-blue-lt" ng-if="!pConnection.isConnected && !pConnection.isRequested && !pConnection.isRequest" ng-click="$parent.popoverIsopen1 = false;connect(pConnection);">Connect</button>
    </div>
    </div>
</script>
<script type="text/ng-template" id="tooltip.html">
    <div class="padder-v">
    <img class="inline pull-left" ng-show="mConnect[connectionIndex].avatar" src="{{app.baseUrl}}{{mConnect[connectionIndex].avatar}}" height="36px"/>
    <img class="inline pull-left" ng-show="!mConnect[connectionIndex].avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" height="36px"/>
    <div class="m-l-sm text-14 inline">
    <div class="">You're connected to {{ mConnect[connectionIndex].name }} {{ mConnect[connectionIndex].lastname }}</div>
    <div class="">{{mConnect[connectionIndex].name}} is connected to {{ l.name }}</div>
    </div>
    </div>
</script>