<div class="">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Software Engineer'">
        <input type="checkbox" ng-model="job.otherRoles['Software Engineer']">
        <i></i>
        <div class="inline m-l-xs">Software Engineer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Mobile Developer'">
        <input type="checkbox" ng-model="job.otherRoles['Mobile Developer']">
        <i></i>
        <div class="inline m-l-xs">Mobile Developer</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Frontend Developer'">
        <input type="checkbox" ng-model="job.otherRoles['Frontend Developer']">
        <i></i>
        <div class="inline m-l-xs">Frontend Developer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Backend Developer'">
        <input type="checkbox" ng-model="job.otherRoles['Backend Developer']">
        <i></i>
        <div class="inline m-l-xs">Backend Developer</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Full-Stack Developer'">
        <input type="checkbox" ng-model="job.otherRoles['Full-Stack Developer']">
        <i></i>
        <div class="inline m-l-xs">Full-Stack Developer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Engineering Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Engineering Manager']">
        <i></i>
        <div class="inline m-l-xs">Engineering Manager</div>
    </label>


    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'QA Engineer'">
        <input type="checkbox" ng-model="job.otherRoles['QA Engineer']">
        <i></i>
        <div class="inline m-l-xs">QA Engineer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'DevOps'">
        <input type="checkbox" ng-model="job.otherRoles['DevOps']">
        <i></i>
        <div class="inline m-l-xs">DevOps</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Software Architect'">
        <input type="checkbox" ng-model="job.otherRoles['Software Architect']">
        <i></i>
        <div class="inline m-l-xs">Software Architect</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Designer'">
        <input type="checkbox" ng-model="job.otherRoles['Designer']">
        <i></i>
        <div class="inline m-l-xs">Designer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'UI/UX Designer'">
        <input type="checkbox" ng-model="job.otherRoles['UI/UX Designer']">
        <i></i>
        <div class="inline m-l-xs">UI/UX Designer</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'User Researcher'">
        <input type="checkbox" ng-model="job.otherRoles['User Researcher']">
        <i></i>
        <div class="inline m-l-xs">User Researcher</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Visual Designer'">
        <input type="checkbox" ng-model="job.otherRoles['Visual Designer']">
        <i></i>
        <div class="inline m-l-xs">Visual Designer</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Creative Director'">
        <input type="checkbox" ng-model="job.otherRoles['Creative Director']">
        <i></i>
        <div class="inline m-l-xs">Creative Director</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Operations'">
        <input type="checkbox" ng-model="job.otherRoles['Operations']">
        <i></i>
        <div class="inline m-l-xs">Operations</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Finance/Accounting'">
        <input type="checkbox" ng-model="job.otherRoles['Finance/Accounting']">
        <i></i>
        <div class="inline m-l-xs">Finance/Accounting</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'H.R.'">
        <input type="checkbox" ng-model="job.otherRoles['H.R.']">
        <i></i>
        <div class="inline m-l-xs">H.R.</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Recruiter'">
        <input type="checkbox" ng-model="job.otherRoles['Recruiter']">
        <i></i>
        <div class="inline m-l-xs">Recruiter</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Customer Service'">
        <input type="checkbox" ng-model="job.otherRoles['Customer Service']">
        <i></i>
        <div class="inline m-l-xs">Customer Service</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Operations Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Operations Manager']">
        <i></i>
        <div class="inline m-l-xs">Operations Manager</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Sales'">
        <input type="checkbox" ng-model="job.otherRoles['Sales']">
        <i></i>
        <div class="inline m-l-xs">Sales</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Business Development'">
        <input type="checkbox" ng-model="job.otherRoles['Business Development']">
        <i></i>
        <div class="inline m-l-xs">Business Development</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'BD Manager'">
        <input type="checkbox" ng-model="job.otherRoles['BD Manager']">
        <i></i>
        <div class="inline m-l-xs">BD Manager</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Account Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Account Manager']">
        <i></i>
        <div class="inline m-l-xs">Account Manager</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Sales Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Sales Manager']">
        <i></i>
        <div class="inline m-l-xs">Sales Manager</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Investor'">
        <input type="checkbox" ng-model="job.otherRoles['Investor']">
        <i></i>
        <div class="inline m-l-xs">Investor</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Syndicate Lead'">
        <input type="checkbox" ng-model="job.otherRoles['Syndicate Lead']">
        <i></i>
        <div class="inline m-l-xs">Syndicate Lead</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Angel'">
        <input type="checkbox" ng-model="job.otherRoles['Angel']">
        <i></i>
        <div class="inline m-l-xs">Angel</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Seed Fund'">
        <input type="checkbox" ng-model="job.otherRoles['Seed Fund']">
        <i></i>
        <div class="inline m-l-xs">Seed Fund</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'VC'">
        <input type="checkbox" ng-model="job.otherRoles['VC']">
        <i></i>
        <div class="inline m-l-xs">VC</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Marketing'">
        <input type="checkbox" ng-model="job.otherRoles['Marketing']">
        <i></i>
        <div class="inline m-l-xs">Marketing</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Growth Hacker'">
        <input type="checkbox" ng-model="job.otherRoles['Growth Hacker']">
        <i></i>
        <div class="inline m-l-xs">Growth Hacker</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Marketing Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Marketing Manager']">
        <i></i>
        <div class="inline m-l-xs">Marketing Manager</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Content Creator'">
        <input type="checkbox" ng-model="job.otherRoles['Content Creator']">
        <i></i>
        <div class="inline m-l-xs">Content Creator</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Management'">
        <input type="checkbox" ng-model="job.otherRoles['Management']">
        <i></i>
        <div class="inline m-l-xs">Management</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'CEO'">
        <input type="checkbox" ng-model="job.otherRoles['CEO']">
        <i></i>
        <div class="inline m-l-xs">CEO</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'CFO'">
        <input type="checkbox" ng-model="job.otherRoles['CFO']">
        <i></i>
        <div class="inline m-l-xs">CFO</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'CMO'">
        <input type="checkbox" ng-model="job.otherRoles['CMO']">
        <i></i>
        <div class="inline m-l-xs">CMO</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'COO'">
        <input type="checkbox" ng-model="job.otherRoles['COO']">
        <i></i>
        <div class="inline m-l-xs">COO</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'CTO'">
        <input type="checkbox" ng-model="job.otherRoles['CTO']">
        <i></i>
        <div class="inline m-l-xs">CTO</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Hardware Engineer'">
        <input type="checkbox" ng-model="job.otherRoles['Hardware Engineer']">
        <i></i>
        <div class="inline m-l-xs">Hardware Engineer</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Mechanical Engineer'">
        <input type="checkbox" ng-model="job.otherRoles['Mechanical Engineer']">
        <i></i>
        <div class="inline m-l-xs">Mechanical Engineer</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Systems Engineer'">
        <input type="checkbox" ng-model="job.otherRoles['Systems Engineer']">
        <i></i>
        <div class="inline m-l-xs">Systems Engineer</div>
    </label>

    <div class="clear clearfix"></div>

</div>

<div class="m-t-lg">

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Attorney'">
        <input type="checkbox" ng-model="job.otherRoles['Attorney']">
        <i></i>
        <div class="inline m-l-xs">Attorney</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Business Analyst'">
        <input type="checkbox" ng-model="job.otherRoles['Business Analyst']">
        <i></i>
        <div class="inline m-l-xs">Business Analyst</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Data Scientist'">
        <input type="checkbox" ng-model="job.otherRoles['Data Scientist']">
        <i></i>
        <div class="inline m-l-xs">Data Scientist</div>
    </label>
    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Product Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Product Manager']">
        <i></i>
        <div class="inline m-l-xs">Product Manager</div>
    </label>

    <label class="i-checks i-checks-lblue col-xs-12 col-sm-6" ng-hide="job.primaryRole == 'Project Manager'">
        <input type="checkbox" ng-model="job.otherRoles['Project Manager']">
        <i></i>
        <div class="inline m-l-xs">Project Manager</div>
    </label>

    <div class="clear clearfix"></div>

</div>