<div class="modal-header no-border bg-primary ng-scope h-sm" style="border-radius: 4px 4px 0 0;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel();">
        <span aria-hidden="true">×</span>
    </button>
    <div class="text-center text-white">

    </div>
</div>
<div class="modal-body">
    <div class="text-normal font-bold">Our mission is offer quality candidates for quality companies, so help us to make this possible. Please, in order to access to Jobs ensure you have filled this fields on your profile.</div>

    <div class="no-padder padder-v-xs m-t-sm col-sm-6">
        <i class="fa fa-check-square-o text-18 pull-left m-t-xxs" ng-class="{'text-green':user.miniResume && user.miniResume.length > 0,'text-danger':!user.miniResume || user.miniResume.length <= 0}"></i> 
        <span class="text-normal text-gray">Mini Resume</span>
    </div>

    <div class="no-padder padder-v-xs m-t-sm col-sm-6">
        <i class="fa fa-check-square-o text-18 pull-left m-t-xxs" ng-class="{'text-green':user.summary && user.competences && user.summary.length > 0 && user.competences.length > 0,'text-danger':!user.summary || user.summary.length <= 0 || !user.competences || user.competences.length <= 0}"></i> 
        <span class="text-normal text-gray">About</span>
    </div>

    <div class="no-padder padder-v-xs m-t-sm col-sm-6">
        <i class="fa fa-check-square-o text-18 pull-left m-t-xxs" ng-class="{'text-green':user.experiences && user.experiences.length > 0 && user.experiences[0].company,'text-danger':!user.experiences || user.experiences.length <= 0 || !user.experiences[0].company}"></i> 
        <span class="text-normal text-gray">Experience</span>
    </div>

    <div class="no-padder padder-v-xs m-t-sm col-sm-6">
        <i class="fa fa-check-square-o text-18 pull-left m-t-xxs" ng-class="{'text-green':user.educations && user.educations.length > 0 && user.educations[0].college,'text-danger':!user.educations || user.educations.length <= 0 || !user.educations[0].college}"></i> 
        <span class="text-normal text-gray">Education</span>
    </div>

    <div class="no-padder padder-v-xs m-t-sm col-sm-6">
        <i class="fa fa-check-square-o text-18 pull-left m-t-xxs" ng-class="{'text-green':user.contactEmail && user.phone && user.imContacts,'text-danger':!user.contactEmail || !user.phone || !user.imContacts}"></i> 
        <span class="text-normal text-gray">Contact Info.</span>
    </div>

    <div class="clear clearfix"></div>
    <div class="m-t">
        <a ui-sref="app.page.profile" class="btn btn-blue" ng-click="redirecting = true;" ng-disabled="redirecting">
            <span ng-show="!redirecting">Edit Profile</span>
            <span ng-show="redirecting">Redirecting..<i class="fa fa-spin fa-spinner"></i></span>
        </a>
    </div>
</div>
