<div class="modal-header">
    <h4 class="text-center">Are you sure you want to close this offer?</h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <i class="fa fa-warning fa-2x"></i>
        <p class="text-block m-t">If you close this offer, it will be removed from “live offers”.<br><br>You can still respond to replies you have already received but you won't get new ones.</p>
    </div>
</div>
<div class="modal-footer no-padder">
    <div class="text-center wrapper-sm b-r inline w-50">
        <a class="text-lg" ng-click="cancel()">No</a>
    </div>
    <div class="text-center wrapper-sm inline w-50">
        <a class="font-bold text-lg" ng-click="close()">Yes</a>
    </div>
</div>
