<div class="modal-body">
    <div class="text-lg font-bold">More connections means more opportunity.</div>
    <div class="text-md padder-v-sm">Are you sure want to skip this step?</div>
    <div class="m-t text-right">
        <!--<button type="button" class="btn no-bg no-parens" ng-click="cancel()">Yes</button>-->
        <a ui-sref="access.step4" class="btn" ng-click="skippedLinkedinDownload();cancel();">Yes</a>
        <a class="btn btn-blue-lt" ng-click="cancel()">No</a>
    </div>
</div>
