<div class="container">
    <div class="w-full b-a r-2x m-t-lg">
        <div class="col-xs-12">
            <div class="m-t-lg">
                <div class="pull-left text-20 text-black-d">
                    <i class="fa fa-unsorted text-muted m-r-sm hover-pointer" ng-click="profileOreder('share')"></i>
                    <span class="">About</span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-blue lt r-2x" ng-click="changeEditModeAbout(true);" ng-if="!editAbout">Edit</button>
                    <button class="btn btn-blue lt r-2x m-r-sm" ng-click="saveAboutMe();" ng-if="editAbout" ng-disabled="loadingCompetences">
                        <span ng-hide="loadingCompetences">Save</span>
                        <span ng-show="loadingCompetences">Saving...<i class="fa fa-spin fa-spinner"></i></span>
                    </button>
                    <button class="btn r-2x" ng-click="changeEditModeAbout(false);" ng-if="editAbout">Cancel</button>
                </div>
                <div class="clear clearfix"></div>
            </div>
            <div class="col-xs-12 col-sm-10 m-t-lg m-b-xl" ng-if="!editAbout">
                <div class="text-17">What i am doing</div>
                <div class="m-t-sm text-black-dker">{{ user.summary}}</div>

                <div class="m-t-lg text-17">Skills</div>
                <div class="text-black-dk m-t-sm">
                    <div ng-repeat="competence in user.competences" class="r-3x padder-v-sm padder-sm bg-gray text-white pull-left m-r-xs">{{ competence.text ? competence.text : competence }}</div>
                    <div class="clear clearfix"></div>
                </div> 

                <div class="m-t-lg text-17">Languages</div>
                <div class="text-black-dk m-t-sm">
                    <div ng-repeat="language in user.languages" class="r-3x padder-v-sm padder-sm bg-gray text-white pull-left m-r-xs">{{ language.text ? language.text : language}}</div>
                    <div class="clear clearfix"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 m-t-lg m-b-xl" ng-if="editAbout">
                <div class="text-17">What i am doing</div>
                <textarea class="form-control m-t-sm" rows="4" maxlength="600" ng-model="user.summary" placeholder="Give us more details about what are you doing everyday."></textarea>
                <div class="m-t-lg text-17">Skills</div>
                <div class="has-feedback inline">
                    <input type="text" 
                           class="form-control input-lg text-black-dk w-2xl m-t-sm"
                           placeholder="Add skills"
                           ng-model="about.skill"
                           typeahead="skill for skill in skillSearch($viewValue) | filter:$viewValue | limitTo:15" 
                           ng-pattern="/^[a-zA-Z0-9- '.,-/\&]{2,100}$/" 
                           maxlength="100" 
                           ng-enter="onSelectSkill(about.skill)"
                           typeahead-on-select='onSelectSkill($item)' 
                           typeahead-loading='loading_skills' 
                           typeahead-template-url="tpl/blocks_general/skill-autocomplete.html?v={{app.latestUpdate}}" 
                           typeahead-wait-ms="300"
                           required/>
                    <i ng-show="loading_skills" class="fa fa-spinner fa-spin form-control-feedback input-loader-lg m-t-sm m-r-sm"></i>
                </div>
                <div class="text-black-dk m-t-sm">
                    <div ng-repeat="competence in user.competences" class="tag-green-remove pull-left r-3x m-r-xs m-t-xs">
                        <span class="tag-label">{{ competence.text ? competence.text : competence }}</span>
                        <span class="tag-remove hover-pointer" ng-click="removeSkill(competence.text ? competence.text : competence)">X</span>
                    </div>
                    <div class="clear clearfix"></div>
                </div> 

                <!--<tags-input class="tags-input" ng-model="user.competences" replace-spaces-with-dashes="false" placeholder="Write a skill and press enter" required></tags-input>-->

                <div class="m-t-lg text-17">Languages</div>
                <input type="text" 
                       class="form-control input-lg text-black-dk w-2xl m-t-sm"
                       placeholder="Add skills"
                       ng-model="about.language"
                       ng-pattern="/^[a-zA-Z0-9- '.,-/\&]{2,100}$/" 
                       maxlength="100" 
                       ng-enter="onSelectLanguage(about.language)"/>
                <div class="text-black-dk m-t-sm">
                    <div ng-repeat="language in user.languages" class="tag-green-remove pull-left r-3x m-r-xs m-t-xs">
                        <span class="tag-label">{{ language.text ? language.text : language }}</span>
                        <span class="tag-remove hover-pointer" ng-click="removeLanguage(language.text ? language.text : language)">X</span>
                    </div>
                    <div class="clear clearfix"></div>
                </div> 
            </div>
            <div class="clear clearfix"></div>
        </div>
        <div class="clear clearfix"></div>
    </div>
</div>