<div class="container">
    <form class="form-horizontal" name="formService" novalidate>
        <div class="w-full b-a r-2x m-t-lg">
            <div class="col-xs-12">
                <div class="m-t-sm padder-r-md">
                    <div class="text-20 text-black-d">
                        <div class="pull-left" ng-class="{'padder-t-sm':serviceStep == 1,'padder-b-md':serviceStep != 1}">
                            <i class="fa fa-unsorted text-muted m-r-sm hover-pointer" ng-click="profileOreder('share')"></i>
                            <span class="" ng-if="serviceStep == 1 || serviceStep == 2">Services</span>
                        </div>
                        <div class="pull-left m-l" ng-show="serviceStep == 1">
                            <tabset class="nav-tabs-alt tabs-services">
                                <tab ng-repeat="service in serviceTabs track by $index" heading="{{service.service}}" active="service.active" ng-click="updateSelectedIndex($index);" class="text-u-c"></tab>
                            </tabset>
                        </div>
                        <span class="" ng-if="serviceStep == 3">Meet {{ user.services[selectedIndex].service|tolowercase }} clients</span>
                        <div class="pull-right">
                            <button class="btn btn-blue lt r-3x" ng-if="serviceStep == 1" ng-click="changeServiceStep(2);">Add</button>
                            <a class="text-md" href="" ng-if="serviceStep == 3 && serviceAction == 'add'" ng-click="backService();">Back</a>
                            <button type="button" class="btn lt r-3x m-l-xs" ng-if="(serviceStep == 2 && user.services.length > 0) || serviceStep == 3" ng-click="cancelService(selectedIndex);">Cancel</button>
                            <button type="button" class="btn btn-blue lt r-3x m-l-xs" ng-if="serviceStep == 3" ng-disabled="savingService" ng-click="saveService(formService, selectedIndex)">
                                <span class="" ng-hide="savingService">Save</span>
                                <span class="" ng-show="savingService && serviceAction == 'edit'">Updating <i class="fa fa-spinner fa-spin"></i></span>
                                <span class="" ng-show="savingService && serviceAction == 'add'">Adding <i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                </div>
                <div class="col-xs-12 m-b-lg">
                    <div class="m-b-lg b-a padder-lg padder-v-lg bg-light lt r-3x">
                        <div ng-include="'tpl/blocks_edition/user/service_listing_to_view_and_edit.html?v={{app.latestUpdate}}'" ng-if="serviceStep == 1"></div>
                        <div ng-include="'tpl/blocks_edition/user/service_listing_to_add.html?v={{app.latestUpdate}}'" ng-if="serviceStep == 2"></div>
                        <div ng-include="'tpl/blocks_edition/user/service.html?v={{app.latestUpdate}}'" ng-if="serviceStep == 3"></div>
                    </div>
                    <div ng-include="'tpl/blocks_edition/user/service_clients.html?v={{app.latestUpdate}}'" ng-if="serviceStep == 1"></div>
                    <div class="clear clearfix"></div>
                </div>
                <div class="clear clearfix"></div>
            </div>
            <div class="clear clearfix"></div>
        </div>
    </form>
</div>