<div class="pull-right pull-none-xs text-black-dk font-italic text-base m-t-n-md m-r-n">
    <a href="" class="font-italic m-r-xs text-black-dk" ng-click="editService(selectedIndex);">Edit</a>
    <a href="" class="font-italic m-r-xs text-black-dk" ng-click="removeService(selectedIndex);">Remove</a>
</div>
<div class="col-sm-8 no-padder text-md text-black-d opacity-8">
    <div class="m-t-sm">
        <i class="fa fa-map-marker icon-md pull-left"></i>
        <div class="clear">
            <span ng-if="user.services[selectedIndex].location.basedCountry">{{ user.services[selectedIndex].location.city}}, {{ 'country.' + user.services[selectedIndex].location.basedCountry | translate }}<span ng-if="user.services[selectedIndex].remoteService">. Remote</span></span>
            <span ng-if="!user.services[selectedIndex].location.basedCountry">{{ user.services[selectedIndex].location.city}} <span ng-if="user.services[selectedIndex].remoteService">. Remote</span></span>
        </div>
    </div>
    <div class="m-t-sm" ng-if="user.services[selectedIndex].subServices.length > 0">
        <i class="fa fa-check m-t-xs icon-md pull-left"></i>
        <div class="clear">
            <span class="padder-r-xs" ng-repeat="subService in user.services[selectedIndex].subServices track by $index">{{ subService}}<span ng-if="!$last">,</span> </span>
        </div>
    </div>
    <div class="m-t-sm">
        <i class="fa fa-question icon-md pull-left"></i> 
        <span class="clear">{{ user.services[selectedIndex].experties}}</span>
    </div>
    <div class="m-t-sm"> 
        <i class="fa fa-tag icon-md pull-left"></i> 
        <span class="clear">${{ user.services[selectedIndex].minCharge}} to ${{ user.services[selectedIndex].maxCharge}} per hour</span>
    </div>
</div>
<div class="clear clearfix"></div>