<!-- ADD POST -->
<div ng-if="(publicCompany.administrators | filter:user.username).length > 0" class="panel panel-default r-2x m-t-lg m-b-none">
    <form ng-submit="sendCompanyPost()" name="postForm">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left m-r-xs clear">
                        <a class="thumb-sm b-a bg-white">
                            <img ng-show="publicCompany.avatar" src="{{app.baseUrl}}{{publicCompany.avatar}}" alt="{{publicCompany.name}}">
                            <img ng-hide="publicCompany.avatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" alt="{{publicCompany.name}}">
                        </a>
                    </div>
                    <span ng-if="loadingSendingPost" class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
                    <div class="clear">
                        <textarea  msd-elastic="\n"  ng-model="newPost.text" class="form-control no-border no-bg" rows="3" placeholder="Share an article, photo or update... " style="resize:none;overflow:visible;" ng-change="postPreview()"></textarea>
                    </div>

                    <!-- TEXT+IMG -->
                    <i ng-if="newPost.image" class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                    <img ng-if="newPost.image" ng-src="{{newPost.image}}" class="w-full m-b"/><br/>
                    <!--/ TEXT+IMG -->

                    <!-- LINK VIDEO -->
                    <div ng-if="newPost.youtube" class="m-b">
                        <i class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                        <iframe width="100%" height="280" ng-src="{{ newPost.youtube | youtubeEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div ng-if="newPost.vimeo" class="m-b">
                        <i class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                        <iframe width="100%" height="280" ng-src="{{ newPost.vimeo | vimeoEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <!--/ LINK VIDEO -->

                    <!-- LINK -->
                    <div ng-if="newPost.link" class="block">
                        <i class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                        <div class="item">
                            <div class="bottom wrapper w-full">
                                <span class="bg-black dker wrapper-xs padder-sm hidden-xs">
                                    <a ng-if="newPost.newsTitle" class="text-block h3" rel="nofollow" href="{{newPost.newsURL}}" target="_blank" ng-click="trackNews(newPost.newsTitle, newPost.newsTitle, newPost.newsSource)" ng-bind-html="newPost.newsTitle | nl2br"></a>
                                </span>
                                <div class="text-xs m-t-xs">
                                    <span class="bg-black dk wrapper-xs padder-sm inline">{{newPost.newsDate * 1000| fromNow }}</span>
                                    <span class="bg-black dk wrapper-xs padder-sm inline">
                                        <i ng-click="trackNews(newPost.newsSource, newPost.newsTitle, newPost.newsSource)">{{newPost.newsSource}}</i>
                                    </span>
                                </div>
                            </div>
                            <a href="{{feed.newsURL}}" rel="nofollow" target="_blank" ng-click="trackNews('image', feed.newsTitle, feed.newsSource)">
                                <div ng-if="newPost.newsImage" class="img-touchnews" style="display:block; background-image:url({{newPost.newsImage}}); border:none; border-radius:0;"></div>
                                <div ng-if="!newPost.newsImage" class="img-touchnews"><i class="glyphicon glyphicon-picture img-news-no"></i></div>
                            </a>
                        </div>
                    </div>
                    <!--/ LINK -->

                    <!-- User Profile Share -->
                    <div class="panel-body" ng-if="newPost.userProfile">
                        <i class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                        <div class="list-group list-group-lg list-group-sp m-n">
                            <a class="list-group-item clearfix" ui-sref="app.page.public({username: newPost.sharedUsername})">
                                <span class="pull-left thumb avatar m-r">
                                    <img ng-show="newPost.sharedUserAvatar" src="{{app.baseUrl}}{{newPost.sharedUserAvatar}}" alt="{{newPost.sharedUserFullName}}">
                                    <img ng-hide="newPost.sharedUserAvatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" alt="{{newPost.sharedUserFullName}}">
                                </span>
                                <span class="clear">
                                    <h5 class="font-bold text-ellipsis h5 clear">{{newPost.sharedUserFullName}}</h5>
                                    <small class="clear text-ellipsis">{{newPost.sharedUserJobTitle}}</small>
                                    <small class="text-muted clear text-ellipsis">{{newPost.sharedUserCompany}}</small>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--/ User Profile Share -->

                    <!-- Company Page Share -->
                    <div class="panel-body" ng-if="newPost.companyPage">
                        <i class="icon-close text-dark text-lg bg-white delete-post" uib-tooltip="Delete" data-ng-click="resetPostMedia()"></i>
                        <div class="clear">
                            <div class="pull-left m-r">
                                <a class="thumb-lg b-a" ui-sref="app.page.company/public({companyusername: newPost.sharedCompanyUsername})">
                                    <img ng-show="newPost.sharedCompanyAvatar" src="{{app.baseUrl}}{{newPost.sharedCompanyAvatar}}">
                                    <img ng-hide="newPost.sharedCompanyAvatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}">
                                </a>
                            </div>
                            <a ui-sref="app.page.company/public({companyusername: newPost.sharedCompanyUsername})" class="font-bold text-C text-lg clear">{{newPost.sharedCompanyName}}</a>
                            <div>
                                <p class="text-sm post-text" ng-if="newPost.sharedCompanyType">{{ newPost.sharedCompanyType | translate }}</p>
                            </div>
                            <div class="btn-group" id="CompanyFollowButton">
                                <button type="button" class="btn btn-sm btn-primary no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:newPost.sharedCompanyUsername).length <= 0 || !user.following" ng-click="follow(newPost.sharedCompanyUsername)">Follow</button>
                                <button type="button" class="btn btn-sm btn-default no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:newPost.sharedCompanyUsername).length > 0" ng-mouseenter="follow = false" ng-mouseleave="follow = true" ng-click="unfollow(newPost.sharedCompanyUsername)">
                                    <span ng-show="follow">Following</span>
                                    <span ng-hide="follow">Unfollow</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--/ Company Page Share -->

                </div>
            </div>
        </div>
        <div class="panel-footer m-r-md m-l-md padder-xs">
            <button type="submit" class="btn btn-blue-lt pull-right" data-ng-disabled="loadingSendingPost || (!newPost.text && !newPost.image && !newPost.youtube && !newPost.vimeo && !newPost.link && !newPost.userProfile && !newPost.companyPage)">
                <span ng-hide="loadingSendingPost">Post</span>
                <span ng-show="loadingSendingPost"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
            <i class="icon-camera text-gray pull-left text-lg padder-v-sm hover-pointer" ng-class="{'text-gray':!hovered,'text-blue-lt':hovered}" ng-mouseover="hovered = true;" ng-mouseleave="hovered = false;" onclick="angular.element('#postItem').click();"></i><input data-ng-disabled="newPost.youtube || newPost.vimeo || newPost.companyPage || newPost.userProfile || newPost.link" type="file" accept=".jpg,.jpeg,.gif" fileread="newPost.image" class="file-input pull-left" ng-class="{'text-gray':!hovered,'text-blue-lt':hovered}" ng-mouseover="hovered = true;" ng-mouseleave="hovered = false;">
            <div class="clear clearfix"></div>
        </div>
    </form>

</div><!--/ <!-- ADD POST -->

<!--<div ng-if="loadingCompanyFeed" class="text-dark text-center"><i class="fa fa-spinner fa-spin"></i></div>-->

<div class="text-xl text-black-dker font-normal text-gray m-b-md m-t-md" ng-if="companyfeed.length > 0" id="recent_updates">Recent Updates</div>

<!-- IF NO POST -->
<div ng-if="!loadingCompanyFeed && companyfeed.length == 0" class="text-center text-muted padder-v-xl">
    <i class="icon-speech text-xxl"></i>
    <h3>Your company hasn't shared any news yet!</h3>
    <p>You want more visibility for your company?<br>Be a proactive company and inform the network about what's up at {{publicCompany.name}}.</p>
    <p>Share images / articles / Breaking News / Promotional video</p>
    <p>How to promote my company page and get more followers <a href="https://mobintouch.zendesk.com/hc/en-us/articles/203020992">learn more</a></p>
</div><!--/ IF NO POST -->

<!-- COMPANY FEED -->
<div id="lightbox" data-ng-controller="DeleteCompanyPostModalCtrl">
    <div ng-if="companyfeed" data-ng-controller="FollowController" id="company_feed">
        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
        <div infinite-scroll="isLoadableFeed && !loadingCompanyFeed ? loadMoreFeed() : ''" infinite-scroll-distance="3">
            <div class="panel panel-default r-2x" data-ng-repeat="(key, feed) in companyfeed" in-view="$inview && (publicCompany.administrators | filter:user.username).length <= 0 ? storestastics(feed._id.$id,'impression') : ''">
                <div class="wrapper">
                    <div class="pull-left m-r clear">
                        <a class="thumb-sm b-a bg-white" ui-sref="app.page.company/public({companyusername: feed.companyUsername})" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">
                            <img ng-show="publicCompany.avatar" src="{{app.baseUrl}}{{publicCompany.avatar}}" alt="{{publicCompany.name}}">
                            <img ng-hide="publicCompany.avatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}" alt="{{publicCompany.name}}">
                        </a>
                    </div>
                    <span class="clear text-md">
                        <a ui-sref="app.page.company/public({companyusername: feed.companyUsername})" class="font-bold btn-link text-C hover-underline" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">{{feed.companyFullName}}</a>
                    </span>
                    <span class="text-muted text-sm clear">{{feed.date * 1000| fromNow }}</span>
                </div>

                <!-- TEXT/IMG/LINK/YOUTUBE/VIMEO -->
                <div class="padder" ng-if="feed.postText">
                    <p class="text-block post-text" ng-bind-html="feed.postText | linky:'_blank' | nl2br" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''"></p>
                </div>

                <div id="lightbox_{{ $index}}" onclick="imagePrev(this, event)" class="panel-body" ng-if="feed.postImage">
                    <a href="{{app.baseUrl}}{{feed.postImage}}" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">
                        <img ng-src="{{app.baseUrl}}{{feed.postImage}}" class="w-full lightbox">
                    </a>
                </div>

                <div class="panel-body no-padder" ng-if="feed.newsURL">
                    <div class="item" ng-init="isLast = $last" style="padding-top: 15px;">
                        <div class="bottom wrapper w-full">
                            <span class="bg-black dker wrapper-xs padder-sm inline">
                                <a ng-if="feed.newsTitle" class="text-block h3" rel="nofollow" href="{{feed.newsURL}}" target="_blank" ng-click="trackNews(feed.newsTitle, feed.newsTitle, feed.newsSource); user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : '';" ng-bind-html="feed.newsTitle | nl2br"></a>
                            </span>
                            <div class="text-xs m-t-xs">
                                <span class="bg-black dk wrapper-xs padder-sm inline">{{feed.newsDate * 1000| fromNow }}</span>
                                <span class="bg-black dk wrapper-xs padder-sm inline">
                                    <i ng-click="trackNews(feed.newsSource, feed.newsTitle, feed.newsSource); user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : '';">{{feed.newsSource}}</i>
                                </span>
                            </div>
                        </div>
                        <a href="{{feed.newsURL}}" rel="nofollow" target="_blank" ng-click="trackNews('image', feed.newsTitle, feed.newsSource); user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : '';">
                            <div ng-if="feed.newsImage" class="img-touchnews" style="display:block; background-image:url({{app.baseUrl}}/{{feed.newsImage}}); border:none; border-radius:0;"></div>
                            <div ng-if="!feed.newsImage" class="img-touchnews"><i class="glyphicon glyphicon-picture img-news-no"></i></div>
                        </a>
                    </div>
                </div>

                <div class="panel-body" ng-if="feed.postYoutube">
                    <iframe  width="100%" height="280" ng-src="{{ feed.postYoutube | youtubeEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="panel-body" ng-if="feed.postVimeo">
                    <iframe  width="100%" height="280" ng-src="{{ feed.postVimeo | vimeoEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
                </div>

                <!-- User Profile Share -->
                <div class="panel-body" ng-if="feed.sharedUsername">
                    <div class="list-group list-group-lg list-group-sp m-n">
                        <a class="list-group-item clearfix" ui-sref="app.page.public({username: feed.sharedUsername})" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">
                            <span class="pull-left thumb avatar m-r">
                                <img ng-show="feed.sharedUserAvatar" src="{{app.baseUrl}}{{feed.sharedUserAvatar}}" alt="{{feed.sharedUserFullName}}">
                                <img ng-hide="feed.sharedUserAvatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" alt="{{feed.sharedUserFullName}}">
                            </span>
                            <span class="clear">
                                <h5 class="font-bold text-ellipsis h5 clear">{{feed.sharedUserFullName}}</h5>
                                <small class="clear text-ellipsis">{{feed.sharedUserJobTitle}}</small>
                                <small class="text-muted clear text-ellipsis">{{feed.sharedUserCompany}}</small>
                            </span>
                        </a>
                    </div>
                </div>
                <!--/ User Profile Share -->
                <!-- Company Page Share -->
                <div class="panel-body" ng-if="feed.sharedCompanyUsername">
                    <div class="clear">
                        <div class="pull-left m-r">
                            <a class="thumb-lg b-a" ui-sref="app.page.company/public({companyusername: feed.sharedCompanyUsername})" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">
                                <img ng-show="feed.sharedCompanyAvatar" src="{{app.baseUrl}}{{feed.sharedCompanyAvatar}}">
                                <img ng-hide="feed.sharedCompanyAvatar" src="{{app.baseUrl}}/img/mit-default-company-avatar.svg?v={{app.latestUpdate}}">
                            </a>
                        </div>
                        <a ui-sref="app.page.company/public({companyusername: feed.sharedCompanyUsername})" class="font-bold text-C text-lg clear" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">{{feed.sharedCompanyName}}</a>
                        <div>
                            <p class="text-sm" ng-if="feed.sharedCompanyType">{{ feed.sharedCompanyType | translate }}</p>
                        </div>
                        <div class="btn-group" id="CompanyFollowButton">
                            <button type="button" class="btn btn-sm btn-primary no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:feed.sharedCompanyUsername).length <= 0 || !user.following" ng-click="follow(feed.sharedCompanyUsername); user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'interaction') : ''">Follow</button>
                            <button type="button" class="btn btn-sm btn-default no-shadow font-bold" rel="nofollow" ng-if="(user.following | filter:feed.sharedCompanyUsername).length > 0" ng-mouseenter="follow = false" ng-mouseleave="follow = true" ng-click="unfollow(feed.sharedCompanyUsername)">
                                <span ng-show="follow">Following</span>
                                <span ng-hide="follow">Unfollow</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!--/ Company Page Share -->
                <!--/ TEXT/IMG/LINK/YOUTUBE/VIMEO -->

                <!-- POST LIKES -->
                <div class="panel-footer bg-light lt">
                    <!--////////// WAS LIKED BY //////////-->
                    <div ng-if="feed.liked.length > 0" class="pull-right">
                        <span ng-if="feed.liked.length < 3">
                            <span class="text-xs text-muted"><i class="icon-like m-r-xs"></i> {{ 'feed.liked' | translate}}
                                <span data-ng-repeat="liked in feed.liked| reverse">
                                    <a ng-if="user.username == liked.username" class="text-muted text-C" uib-tooltip="You" ui-sref="app.page.public({username: liked.username})">You</a>{{$last ? '' : ' and '}}
                                    <a ng-if="user.username != liked.username" class="text-muted text-C" uib-tooltip="{{liked.name| capitalize }} {{liked.lastname| capitalize }}" ui-sref="app.page.public({username: liked.username})">{{liked.name}} {{liked.lastname}}</a>{{$last ? '' : ' and '}}
                                </span>
                            </span>
                        </span>
                        <span ng-if="feed.liked.length >= 3">
                            <span class="text-xs text-muted"><i class="icon-like m-r-xs"></i> {{ 'feed.liked' | translate}} 
                                <span data-ng-repeat="liked in feed.liked| reverse | limitTo:1" ng-init="currentTooltip = getTooltip(feed.liked, liked.username)">
                                    <a ng-if="user.username == liked.username" class="text-muted text-C" uib-tooltip="You" ui-sref="app.page.public({username: liked.username})">You</a>
                                    <a ng-if="user.username != liked.username" class="text-muted text-C" uib-tooltip="{{liked.name| capitalize }} {{liked.lastname| capitalize }}" ui-sref="app.page.public({username: liked.username})">{{liked.name}} {{liked.lastname}}</a>
                                    and <a class="text-muted" uib-tooltip="{{currentTooltip}}" data-ng-click="showUsersList('liked', feed.liked)">{{ (feed.liked.length) - 1}} other people</a>
                                </span>
                            </span>
                        </span>
                    </div>
                    <!--////////// WAS LIKED BY //////////-->
                     <a ng-if="(feed.liked | filter:user.username).length <= 0">
                        <span class="text-muted hover-text-blue-lt text-xs" data-ng-click="like(feed)" uib-tooltip="Like"><i class="icon-like"></i> {{feed.liked.length|| '' }} &nbsp;&nbsp;Like</span>
                    </a>
                    <a ng-if="(feed.liked | filter:user.username).length > 0">
                        <span class="text-blue-lt text-xs" data-ng-click="unlike(feed)" uib-tooltip="Unlike"><i class="icon-like"></i> {{feed.liked.length|| '' }} &nbsp;&nbsp;Unlike</span>
                    </a>
                    <span class="text-light-dker m-r-xs m-l-xs">•</span>
                    <span>
                        <a class="text-xs btn-link hover-pointer" data-ng-class="{'text-blue-lt': ((feed.comments | filter:user.username).length > 0) || !isCollapsed,'text-muted':isCollapsed}" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed; openCommentsBox(key)"  uib-tooltip="{{ (feed.comments.length || 0) == 0?'No comments':isCollapsed?'Show comments':'Hide comments'}}"><i class="icon-bubbles"></i> {{feed.comments.length|| '' }} &nbsp;&nbsp;Comment</a>
                    </span>
                    <span class="text-light-dker m-r-xs m-l-xs" ng-if="(publicCompany.administrators | filter:user.username).length > 0">•</span>
                    <span ng-if="(publicCompany.administrators | filter:user.username).length > 0" class="text-xs" uib-tooltip="Delete post">
                        <a class="text-muted" ng-click="open('sm', feed)" ><i class="icon-close"></i></a>
                    </span>
                </div>
                <!-- COMMENTS -->
                <div id="{{key}}-feed" ng-show="!isCollapsed && feed.comments.length > 0"  class="scrollable bg-white lt b-t" style="padding-bottom: 0 !important; max-height: 300px;">
                    <ul data-ng-repeat="comment in feed.comments" class="list-group list-group-lg no-bg no-borders m-n auto">
                        <li class="list-group-item clearfix">
                            <a ui-sref="app.page.public({username: comment.username})" class="pull-left thumb-sm avatar m-r" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">
                                <img ng-show="comment.avatar" src="{{app.baseUrl}}{{comment.avatar}}" alt="{{comment.name| capitalize }} {{comment.lastname| capitalize }}">
                                <img ng-hide="comment.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" alt="{{comment.name| capitalize }} {{comment.lastname| capitalize }}">
                            </a>
                            <span class="clear">
                                <a ui-sref="app.page.public({username: comment.username})" class="font-bold" ng-click="user.companyPage.administrator.company != feed.companyUsername ? storestastics(feed._id.$id, 'click') : ''">{{comment.name| capitalize }} {{comment.lastname| capitalize }}</a>
                                <small class="m-l-xs text-block">{{comment.text}}</small>
                                <small class="text-muted clear">{{ comment.date * 1000 | fromNow}}</small>
                            </span>
                        </li>
                    </ul>
                </div>
                <footer class="panel-footer bg-light lt">
                    <div>
                        <span class="pull-left thumb-xs avatar">
                            <img ng-show="user.avatar" src="{{app.baseUrl}}{{user.avatar}}" class="img-circle" alt="{{user.name}}">
                            <img ng-hide="user.avatar" src="{{app.baseUrl}}/img/mit-default-avatar.svg?v={{ app.latestUpdate }}" class="img-circle" alt="{{user.name}}">
                        </span>
                        <form name="commentForm{{index}}" data-ng-submit="addComment(feed, key)" class="m-b-none m-l-xl">
                            <div class="input-group">
                                <input type="text" class="form-control no-bg no-border" data-ng-model="feed.newcomment" placeholder="Write a comment..." min="1" ng-minlength="1" pattern=".{1,}" required ng-focus="isCollapsed = false">
                                <span class="input-group-btn">
                                    <button class="btn btn-blue-lt btn-sm no-shadow" type="submit" data-ng-disabled="commentForm{{index}}.$invalid">Post</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </footer>
                <!--/ COMMENTS -->

                <!--POST STASTICS -->
                <div class="panel-footer bg-light lt text-center" ng-if="(publicCompany.administrators | filter:user.username).length > 0">
                    <div class="col-md-3 col-xs-6">
                        <div class="text-dark text-xl">
                            {{ (feed.impressions | number : '' || 0) || 0}}
                        </div>
                        <div class="text-dark text-lg">
                            impressions
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-dark text-xl">
                            {{ feed.clicks||0 }}
                        </div>
                        <div class="text-dark text-lg">
                            clicks
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-dark text-xl">
                            {{ feed.interactions||0 }}
                        </div>
                        <div class="text-dark text-lg">
                            interactions
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-dark text-xl">
                            {{ ((feed.clicks + feed.interactions) / feed.impressions) * 100 || 0 | currency:''}}%
                        </div>
                        <div class="text-dark text-lg">
                            engagement
                        </div>
                    </div>
                    <div class="clear clearfix"></div>
                </div>


                <!-- END OF POST STASTICS -->

            </div><!--/ POST LIKES -->
        </div>
    </div>

</div><!--/ COMPANY FEED -->
<!--<div class="col-xs-12 text-center">
    <div class="padder-v-xl">
        <button ng-if="isLoadableFeed && !loadingCompanyFeed" class="btn btn-default btn-block m-t m-b-xl no-shadow" ng-click="loadMoreFeed()">Show more</button>
    </div>
</div>-->
<div class="m-t-lg" data-ng-include="'tpl/loader/feed.html?v=' + app.latestUpdate" ng-if="isLoadableFeed && loadingCompanyFeed"></div>
<script>
    function imagePrev(elem, event) {
    event = event || window.event;
    var id = $(elem).attr('id');
    var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = $('#' + id + ' a') //this.getElementsByTagName('a');
            var serializer = new XMLSerializer();
    var lightbox = serializer.serializeToString(target);
    if (lightbox && lightbox.indexOf("img") > 0 && lightbox.indexOf("lightbox") > 0) blueimp.Gallery(links, options);
    };
</script>